interactions:
- request:
    body: '{"searchConfig":{"parameters":{"organism":"[\"Plasmodium falciparum 3D7\"]"}},"reportConfig":{"attributes":["primary_key","organism"],"pagination":{"offset":0,"numRecords":5}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/record-types/transcript/searches/GenesByTaxon/reports/standard
  response:
    body:
      string: '{"records":[{"tables":{},"displayName":"PF3D7_0100100","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"organism":"<i>Plasmodium
        falciparum 3D7<\/i>","primary_key":"PF3D7_0100100"},"id":[{"name":"gene_source_id","value":"PF3D7_0100100"},{"name":"source_id","value":"PF3D7_0100100.1"},{"name":"project_id","value":"PlasmoDB"}],"tableErrors":[]},{"tables":{},"displayName":"PF3D7_0100200","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"organism":"<i>Plasmodium
        falciparum 3D7<\/i>","primary_key":"PF3D7_0100200"},"id":[{"name":"gene_source_id","value":"PF3D7_0100200"},{"name":"source_id","value":"PF3D7_0100200.1"},{"name":"project_id","value":"PlasmoDB"}],"tableErrors":[]},{"tables":{},"displayName":"PF3D7_0100300","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"organism":"<i>Plasmodium
        falciparum 3D7<\/i>","primary_key":"PF3D7_0100300"},"id":[{"name":"gene_source_id","value":"PF3D7_0100300"},{"name":"source_id","value":"PF3D7_0100300.1"},{"name":"project_id","value":"PlasmoDB"}],"tableErrors":[]},{"tables":{},"displayName":"PF3D7_0100400","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"organism":"<i>Plasmodium
        falciparum 3D7<\/i>","primary_key":"PF3D7_0100400"},"id":[{"name":"gene_source_id","value":"PF3D7_0100400"},{"name":"source_id","value":"PF3D7_0100400.1"},{"name":"project_id","value":"PlasmoDB"}],"tableErrors":[]},{"tables":{},"displayName":"PF3D7_0100500","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"organism":"<i>Plasmodium
        falciparum 3D7<\/i>","primary_key":"PF3D7_0100500"},"id":[{"name":"gene_source_id","value":"PF3D7_0100500"},{"name":"source_id","value":"PF3D7_0100500.1"},{"name":"project_id","value":"PlasmoDB"}],"tableErrors":[]}],"meta":{"displayViewTotalCount":5720,"tables":[],"pagination":{"offset":0,"numRecords":5},"cachePreviouslyExisted":true,"viewTotalCount":5791,"sorting":[],"recordClassName":"transcript","responseCount":5,"attributes":["primary_key","organism"],"totalCount":5791,"displayTotalCount":5720}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
