interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://microsporidiadb.org/micro/app
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n        <title>MicrosporidiaDB</title>\n
        \   <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\"/>\n    <link href=\"/micro/images/MicrosporidiaDB/favicon.ico\"
        type=\"image/x-icon\" rel=\"shortcut icon\"/>\n    <script>\n            window.__asset_path_remove_me_please__
        = \"/micro/bundles/\";\n\n            window.__SITE_CONFIG__ = {\n                requireLogin:
        \"true\" === \"true\",\n        rootElement: \"#wdk-container\",\n        rootUrl:
        \"/micro/app\",\n        endpoint: \"/micro/service\",\n        projectId:
        \"MicrosporidiaDB\",\n        webAppUrl: \"/micro\",\n        facebookUrl:
        \"https://facebook.com/pages/EuPathDB/133123003429972\",\n        twitterUrl:
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://microsporidiadb.org/micro/service/record-types/transcript/searches/GenesByTaxon?expandParams=true
  response:
    body:
      string: '{"searchData":{"summary":"Find all genes from one or more species/organism.","urlSegment":"GenesByTaxon","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["Encephalitozoon
        intestinalis","Encephalitozoon cuniculi GB-M1","Enterocytozoon bieneusi H348"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"organism","direction":"ASC"},{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"Organism","fullName":"GeneQuestions.GenesByTaxon","description":"Find
        all genes from one or more species/organism.","defaultAttributes":["primary_key","organism","gene_location_text","gene_product"],"groups":[{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["organism"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Organism","paramNames":["organism"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"GenesByTaxon","defaultSummaryView":"_default","parameters":[{"displayName":"Organism","minSelectedCount":1,"maxSelectedCount":-1,"isVisible":true,"type":"multi-pick-vocabulary","help":"Select
        organism(s) you wish to query against. Click the [+] to expand taxon groupings.","depthExpanded":0,"dependentParams":[],"displayType":"treeBox","isReadOnly":false,"vocabulary":{"data":{"display":"@@fake@@","term":"@@fake@@"},"children":[{"data":{"display":"Amphiacanthidae","term":"Amphiacanthidae"},"children":[{"data":{"display":"Amphiamblys
        sp. WSBS2006","term":"Amphiamblys sp. WSBS2006"},"children":[]}]},{"data":{"display":"Cucumispora","term":"Cucumispora"},"children":[{"data":{"display":"Cucumispora
        dikerogammari Dv6","term":"Cucumispora dikerogammari Dv6"},"children":[]}]},{"data":{"display":"Culicosporidae","term":"Culicosporidae"},"children":[{"data":{"display":"Edhazardia
        aedis USNM 41457","term[...]
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://microsporidiadb.org/micro/service/users/current
  response:
    body:
      string: '{"isGuest":false,"id":1214413863,"email":"ahmed.o.muharram@gmail.com","properties":{"organizationType":"academic","firstName":"PathFinder","lastName":"Test
        User","country":"US","groupName":"Chris Callison-Burch Lab","groupType":"research","subscriptionToken":"","organization":"University
        of Pennsylvania","middleName":"","position":"grad_student","interests":"","username":"pathfinder-dev-testing"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchName":"GenesByTaxon","searchConfig":{"parameters":{"organism":"[\"Amphiamblys
      sp. WSBS2006\"]"}},"customName":"Eval test step"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://microsporidiadb.org/micro/service/users/1214413863/steps
  response:
    body:
      string: '{"id":438848973}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://microsporidiadb.org/micro/service/users/1214413863/steps
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"test-eval-base","isPublic":false,"isSaved":false,"stepTree":{"stepId":438848973}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://microsporidiadb.org/micro/service/users/1214413863/strategies
  response:
    body:
      string: '{"id":330129073}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://microsporidiadb.org/micro/service/users/1214413863/strategies
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://microsporidiadb.org/micro/service/users/1214413863/strategies/330129073
  response:
    body:
      string: '{"lastViewed":"2026-03-24T13:32:32.383","rootStepId":438848973,"signature":"ce502d302a18b984","author":"PathFinder
        Test User","releaseVersion":"68","isValid":true,"description":"","leafAndTransformStepCount":1,"steps":{"438848973":{"displayName":"Organism","description":"Find
        all genes from one or more species/organism.","displayPreferences":{},"customName":"Eval
        test step","ownerId":1214413863,"shortDisplayName":"Organism","baseCustomName":"Eval
        test step","expanded":false,"lastRunTime":"2026-03-24T13:32:31.441","hasCompleteStepAnalyses":false,"estimatedSize":3695,"searchName":"GenesByTaxon","recordClassName":"transcript","createdTime":"2026-03-24T13:32:31.441","isFiltered":false,"strategyId":330129073,"id":438848973,"validation":{"level":"SEMANTIC","isValid":true},"searchConfig":{"wdkWeight":0,"columnFilters":{},"filters":[{"name":"matched_transcript_filter_array","disabled":false,"value":{"values":["Y"]}}],"parameters":{"organism":"[\"Amphiamblys
        sp. WSBS2006\"]"}}}},"stepTree":{"stepId":438848973},"isDeleted":false,"estimatedSize":-1,"isSaved":false,"isExample":false,"organization":"University
        of Pennsylvania","name":"test-eval-base","recordClassName":"transcript","createdTime":"2026-03-24T13:32:31","isPublic":false,"strategyId":330129073,"lastModified":"2026-03-24T13:32:31","nameOfFirstStep":"Organism"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"reportConfig":{"attributes":["primary_key"],"pagination":{"offset":0,"numRecords":1000}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://microsporidiadb.org/micro/service/users/1214413863/steps/438848973/reports/standard
  response:
    body:
      string: '{"records":[{"tables":{},"displayName":"A8A55_0001","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"primary_key":"A8A55_0001"},"id":[{"name":"gene_source_id","value":"A8A55_0001"},{"name":"source_id","value":"A8A55_0001-t41_1"},{"name":"project_id","value":"MicrosporidiaDB"}],"tableErrors":[]},{"tables":{},"displayName":"A8A55_0002","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"primary_key":"A8A55_0002"},"id":[{"name":"gene_source_id","value":"A8A55_0002"},{"name":"source_id","value":"A8A55_0002-t41_1"},{"name":"project_id","value":"MicrosporidiaDB"}],"tableErrors":[]},{"tables":{},"displayName":"A8A55_0003","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"primary_key":"A8A55_0003"},"id":[{"name":"gene_source_id","[...]
[...]
