interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://hostdb.org/hostdb/app
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n        <title>HostDB</title>\n
        \   <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\"/>\n    <link href=\"/hostdb/images/HostDB/favicon.ico\"
        type=\"image/x-icon\" rel=\"shortcut icon\"/>\n    <script>\n            window.__asset_path_remove_me_please__
        = \"/hostdb/bundles/\";\n\n            window.__SITE_CONFIG__ = {\n                requireLogin:
        \"true\" === \"true\",\n        rootElement: \"#wdk-container\",\n        rootUrl:
        \"/hostdb/app\",\n        endpoint: \"/hostdb/service\",\n        projectId:
        \"HostDB\",\n        webAppUrl: \"/hostdb\",\n        facebookUrl: \"https://facebook.com/pages/EuPathDB/133123003429972\",\n
        \       twitterUrl: \"ht[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://hostdb.org/hostdb/service/record-types/transcript/searches/GenesByTaxon?expandParams=true
  response:
    body:
      string: '{"searchData":{"summary":"Find all genes from one or more species/organism.","urlSegment":"GenesByTaxon","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["Homo
        sapiens REF","Mus musculus C57BL6J"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"organism","direction":"ASC"},{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"Organism","fullName":"GeneQuestions.GenesByTaxon","description":"Find
        all genes from one or more species/organism.","defaultAttributes":["primary_key","organism","gene_location_text","gene_product"],"groups":[{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["organism"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Organism","paramNames":["organism"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"GenesByTaxon","defaultSummaryView":"_default","parameters":[{"displayName":"Organism","minSelectedCount":1,"maxSelectedCount":-1,"isVisible":true,"type":"multi-pick-vocabulary","help":"Select
        organism(s) you wish to query against. Click the [+] to expand taxon groupings.","depthExpanded":0,"dependentParams":[],"displayType":"treeBox","isReadOnly":false,"vocabulary":{"data":{"display":"@@fake@@","term":"@@fake@@"},"children":[{"data":{"display":"Aves","term":"Aves"},"children":[{"data":{"display":"Gallus
        gallus isolate bGalGal1","term":"Gallus gallus isolate bGalGal1"},"children":[]}]},{"data":{"display":"Mammalia","term":"Mammalia"},"children":[{"data":{"display":"Artiodactyla","term":"Artiodactyla"},"children":[{"data":{"display":"Bos
        taurus breed Hereford","term":"Bos taurus breed Hereford"},"children":[]}]},{"data":{"display":"Carnivora","term":"Carnivora"},"children":[{"data":{"display":"Canis
 [...]
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://hostdb.org/hostdb/service/users/current
  response:
    body:
      string: '{"isGuest":false,"id":1214413863,"email":"ahmed.o.muharram@gmail.com","properties":{"organizationType":"academic","firstName":"PathFinder","lastName":"Test
        User","country":"US","groupName":"Chris Callison-Burch Lab","groupType":"research","subscriptionToken":"","organization":"University
        of Pennsylvania","middleName":"","position":"grad_student","interests":"","username":"pathfinder-dev-testing"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchName":"GenesByTaxon","searchConfig":{"parameters":{"organism":"[\"Gallus
      gallus isolate bGalGal1\"]"}},"customName":"Experiment: Materialization Test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hostdb.org/hostdb/service/users/1214413863/steps
  response:
    body:
      string: '{"id":438849403}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://hostdb.org/hostdb/service/users/1214413863/steps
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"__pathfinder_internal__:exp:exp-materialize-001","isPublic":false,"isSaved":false,"stepTree":{"stepId":438849403},"description":"Persisted
      strategy for experiment Materialization Test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hostdb.org/hostdb/service/users/1214413863/strategies
  response:
    body:
      string: '{"id":330129343}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://hostdb.org/hostdb/service/users/1214413863/strategies
    status:
      code: 200
      message: OK
version: 1
