interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/users/current
  response:
    body:
      string: '{"isGuest":true,"id":1216005813,"email":"guest1216005813","properties":{"organizationType":"","firstName":"","lastName":"","country":"","groupName":"","groupType":"","subscriptionToken":"","organization":"","middleName":"","position":"","interests":"","username":""}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"sourceType":"idList","sourceContent":{"ids":["PF3D7_1222600"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/1216005813/datasets
  response:
    body:
      string: '{"id":223293333}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchConfig":{"parameters":{"ds_gene_ids":"223293333"}},"reportConfig":{"attributes":["primary_key","gene_source_id","gene_name","gene_product","gene_type","organism","gene_location_text","gene_previous_ids"],"tables":[]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/record-types/transcript/searches/GeneByLocusTag/reports/standard
  response:
    body:
      string: '{"records":[{"tables":{},"displayName":"PF3D7_1222600","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"gene_name":"AP2-G","gene_location_text":"Pf3D7_12_v3:906,714..914,983(+)","gene_previous_ids":"Previous
        IDs: 2277.t00217;MAL12P1.217;PFL1085w","gene_type":"protein coding gene","organism":"<i>Plasmodium
        falciparum 3D7<\/i>","gene_source_id":"PF3D7_1222600","gene_product":"AP2
        domain transcription factor AP2-G","primary_key":"PF3D7_1222600"},"id":[{"name":"gene_source_id","value":"PF3D7_1222600"},{"name":"source_id","value":"PF3D7_1222600.1"},{"name":"project_id","value":"PlasmoDB"}],"tableErrors":[]}],"meta":{"displayViewTotalCount":1,"tables":[],"pagination":{"offset":0,"numRecords":-1},"cachePreviouslyExisted":true,"viewTotalCount":1,"sorting":[],"recordClassName":"transcript","responseCount":1,"attributes":["primary_key","gene_source_id","gene_name","gene_product","gene_type","organism","gene_location_text","gene_previous_ids"],"totalCount":1,"displayTotalCount":1}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
