interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://fungidb.org/fungidb/app
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n        <title>FungiDB</title>\n
        \   <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\"/>\n    <link href=\"/fungidb/images/FungiDB/favicon.ico\"
        type=\"image/x-icon\" rel=\"shortcut icon\"/>\n    <script>\n            window.__asset_path_remove_me_please__
        = \"/fungidb/bundles/\";\n\n            window.__SITE_CONFIG__ = {\n                requireLogin:
        \"true\" === \"true\",\n        rootElement: \"#wdk-container\",\n        rootUrl:
        \"/fungidb/app\",\n        endpoint: \"/fungidb/service\",\n        projectId:
        \"FungiDB\",\n        webAppUrl: \"/fungidb\",\n        facebookUrl: \"https://facebook.com/pages/FungiDB/169472636469487\",\n
        \       twitterUrl: [...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://fungidb.org/fungidb/service/record-types/transcript/searches/GenesByTaxon?expandParams=true
  response:
    body:
      string: '{"searchData":{"summary":"Find all genes from one or more species/organism.","urlSegment":"GenesByTaxon","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["Saccharomyces
        cerevisiae S288C"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"organism","direction":"ASC"},{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"Organism","fullName":"GeneQuestions.GenesByTaxon","description":"Find
        all genes from one or more species/organism.","defaultAttributes":["primary_key","organism","gene_location_text","gene_product"],"groups":[{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["organism"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Organism","paramNames":["organism"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"GenesByTaxon","defaultSummaryView":"_default","parameters":[{"displayName":"Organism","minSelectedCount":1,"maxSelectedCount":-1,"isVisible":true,"type":"multi-pick-vocabulary","help":"Select
        organism(s) you wish to query against. Click the [+] to expand taxon groupings.","depthExpanded":0,"dependentParams":[],"displayType":"treeBox","isReadOnly":false,"vocabulary":{"data":{"display":"@@fake@@","term":"@@fake@@"},"children":[{"data":{"display":"Fungi","term":"Fungi"},"children":[{"data":{"display":"Ascomycota","term":"Ascomycota"},"children":[{"data":{"display":"Dothideomycetes","term":"Dothideomycetes"},"children":[{"data":{"display":"Botryosphaeriales","term":"Botryosphaeriales"},"children":[{"data":{"display":"Macrophomina
        phaseolina MS6","term":"Macrophomina phaseolina MS6"},"children":[]}]},{"data":{"display":"Gloniaceae","term":"Gloniaceae"},"children":[{"data":{"display":"Cenococcum
        geophilum[...]
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://fungidb.org/fungidb/service/users/current
  response:
    body:
      string: '{"isGuest":false,"id":1214413863,"email":"ahmed.o.muharram@gmail.com","properties":{"organizationType":"academic","firstName":"PathFinder","lastName":"Test
        User","country":"US","groupName":"Chris Callison-Burch Lab","groupType":"research","subscriptionToken":"","organization":"University
        of Pennsylvania","middleName":"","position":"grad_student","interests":"","username":"pathfinder-dev-testing"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchName":"GenesByTaxon","searchConfig":{"parameters":{"organism":"[\"Macrophomina
      phaseolina MS6\"]"}},"customName":"GenesByTaxon"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fungidb.org/fungidb/service/users/1214413863/steps
  response:
    body:
      string: '{"id":438849353}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://fungidb.org/fungidb/service/users/1214413863/steps
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://fungidb.org/fungidb/service/record-types/transcript/searches/GenesByWeightFilter?expandParams=true
  response:
    body:
      string: '{"searchData":{"urlSegment":"GenesByWeightFilter","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"STRING","tools":{"reports":[],"filters":[]},"properties":{"organisms":["Saccharomyces
        cerevisiae S288C"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"wdk_weight","direction":"ASC"},{"attributeName":"source_id","direction":"ASC"}],"isAnalyzable":true,"displayName":"Filter
        by assigned Weight","allowedPrimaryInputRecordClassNames":["transcript"],"fullName":"InternalQuestions.GenesByWeightFilter","description":"Filter
        away results that have a weight outside the specified range.  \n            (This
        transform is only useful if the input result sets have used weights)","defaultAttributes":["primary_key","organism","gene_product","wdk_weight"],"groups":[{"displayType":"hidden","displayName":"","name":"_hidden","description":"","isVisible":false,"parameters":["gene_result"]},{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["min_weight","max_weight"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Weight","paramNames":["gene_result","min_weight","max_weight"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"ByWeightFilter","defaultSummaryView":"_default","parameters":[{"help":"Input
        Result Set","dependentParams":[],"isReadOnly":true,"displayName":"Input Result
        Set","allowEmptyValue":true,"name":"gene_result","isVisible":false,"type":"input-step","initialDisplayValue":"","properties":{"organisms":["Saccharomyces
        cerevisiae S288C"],"specificAttribution":[]},"group":"_hidden"},{"displayName":"Minimum
        weight","length":0,"isVisible":true,"isMultiLine":false,"type":"string","help":"Enter
        the minimum weight of the result","dependentParams":[],"isReadOnly":false,"isNumber":true,"allowEmptyValue":false,"name":"min_weight","initialDisplayValue":"0","properties":{"organisms":["Saccharomyces
        cerevisiae S288C"],"specificAttribution":[]},"group":"empty"},{"displayName":"Maximum
        weight","length":0,"isVisible":true,"isMultiLine":false,"type":"string","help":"Enter
        the maximum weight of the result","dependentParams":[],"isReadOnly":false,"isNumber":true,"allowEmptyValue":false,"name":"max_weight","initialDisplayValue":"100","properties":{"organisms":["Saccharomyces
        cerevisiae S288C"],"specificAttribution":[]},"group":"empty"}],"properties":{"organisms":["Saccharomyces
        cerevisiae S288C"],"specificAttribution":[]},"summaryViewPlugins":[{"displayName":"Gene
        Results","name":"_default","description":"View transcripts."},{"displayName":"Genome
        View","name":"genomic-view","description":"View your hits mapped to their
        corresponding largest assembled genomic DNA segment, often a chromosome, but\n
        sometimes a contig or scaffold."}]},"validation":{"level":"DISPLAYABLE","isValid":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"searchName":"GenesByWeightFilter","searchConfig":{"parameters":{"min_weight":"1","max_weight":"100","gene_result":""}},"customName":"GenesByWeightFilter"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fungidb.org/fungidb/service/users/1214413863/steps
  response:
    body:
      string: '{"id":438849363}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://fungidb.org/fungidb/service/users/1214413863/steps
    status:
      code: 200
      message: OK
version: 1
