interactions:
- request:
    body: '{"searchText":"PfCRT","pagination":{"offset":0,"numRecords":50},"restrictToProject":"PlasmoDB","documentTypeFilter":{"documentType":"gene"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/site-search
  response:
    body:
      string: "{\n  \"documentTypes\": [\n    {\n      \"displayName\": \"News\",\n
        \     \"displayNamePlural\": \"News\",\n      \"count\": 0,\n      \"searchFields\":
        [{\n        \"isSubtitle\": false,\n        \"displayName\": \"Content\",\n
        \       \"name\": \"TEXT__news_content\",\n        \"term\": \"content\"\n
        \     }],\n      \"id\": \"news\",\n      \"hasOrganismField\": false,\n      \"summaryFields\":
        [],\n      \"isWdkRecordType\": false\n    },\n    {\n      \"displayName\":
        \"Popset isolate sequence\",\n      \"displayNamePlural\": \"Popset isolate
        sequences\",\n      \"count\": 0,\n      \"wdkSearchName\": \"PopsetIsolatesByText\",\n
        \     \"searchFields\": [\n        {\n          \"isSubtitle\": false,\n          \"displayName\":
        \"Curated geographic location\",\n          \"name\": \"TEXT__popsetSequence_curated_geographic_location\",\n
        \         \"term\": \"curated_geographic_location\"\n        },\n        {\n
        \         \"isSubtitle\": false,\n          \"displayName\": \"Curated isolation
        source\",\n          \"name\": \"TEXT__popsetSequence_curated_is[...]
