interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://fungidb.org/fungidb/service/users/current
  response:
    body:
      string: '{"isGuest":true,"id":1216457253,"email":"test@test.local","properties":{"organizationType":"","firstName":"Test","lastName":"User","country":"","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"sourceType":"idList","sourceContent":{"ids":["Afu1g00100","Afu1g00110","Afu1g00120","Afu1g00130","Afu1g00140","Afu1g00150","Afu1g00160","Afu1g00170","Afu1g00180","Afu1g00200","Afu1g00210","Afu1g00220","Afu1g00230","Afu1g00240","Afu1g00250","Afu1g00270","Afu1g00280","Afu1g00290","Afu1g00300","Afu1g00310","Afu1g00320","Afu1g00330","Afu1g00340","Afu1g00350","Afu1g00390","Afu1g00400","Afu1g00410","Afu1g00420","Afu1g00440","Afu1g00450","Afu1g00460","Afu1g00470","Afu1g00480","Afu1g00490","Afu1g00500","Afu1g00510","Afu1g00520","Afu1g00530","Afu1g00540","Afu1g00550","Afu1g00560","Afu1g00570","Afu1g00580","Afu1g00590","Afu1g00610","Afu1g00620","Afu1g00630","Afu1g00640","Afu1g00650","Afu1g00660"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fungidb.org/fungidb/service/users/999138960747/datasets
  response:
    body:
      string: '{"id":223302833}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://fungidb.org/fungidb/service/record-types/transcript/searches/GeneByLocusTag?expandParams=true
  response:
    body:
      string: '{"searchData":{"summary":"Find a gene by its ID.","urlSegment":"GeneByLocusTag","dynamicAttributes":[{"isInReport":true,"formats":[],"truncateTo":100,"displayName":"Input
        ID","name":"input_id","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"STRING","tools":{"reports":[],"filters":[]},"properties":{"organisms":["Saccharomyces
        cerevisiae S288C"],"specificAttribution":[]}},{"isInReport":true,"formats":[],"truncateTo":100,"displayName":"Input
        Order","name":"dataset_order","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"STRING","tools":{"reports":[],"filters":[]},"properties":{"organisms":["Saccharomyces
        cerevisiae S288C"],"specificAttribution":[]}},{"help":"The *search result
        weight*. This is the sum of the weights you specified for individual searches
        that found this record.   The more searches that found this record the higher
        will be its weight.  To give a search a weight, click \"Use Weights\" on the
        search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["Saccharomyces
        cerevisiae S288C"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"dataset_order","direction":"ASC"},{"attributeName":"organism","direction":"ASC"},{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"List
        of IDs","fullName":"GeneQuestions.GeneByLocusTag","description":"Find genes
        based on Gene ID(s). <br><br>\n           \n           <ul>\n\t        <li>Enter
        one or more gene ID(s) by typing or pasting, \n                    or upload
        a plain text file containing a list of IDs.\n\t\t    IDs can be delimited
        by a comma, semicolon, new-line or space.\n\t\t    For example, a list can
        be in the following form:\n\t\t    ''NCU06658, NCU06659, Ndisc8579_106685''.</li>\n\t\t<li>The
        IDs you provide can contain * as a wild-card. For example,\n\t\t    searching
        for XP_001350415* will identify XP_001350415.1,\n\t\t    XP_001350415.2, etc.</li>\n\t\t<li>Importantly,
        it is possible that some IDs in your list will not be \n                    found
        in the database due to annotation changes or unavailable\n                    ID
        mapping. At present, we do not have a mechanism to inform you which IDs \n                    from
        your input list were not found in the database.</li>\n           </ul>","defaultAttributes":["primary_key","dataset_order","organism","gene_location_text","gene_product","gene_type","input_id"],"groups":[{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["ds_gene_ids"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"IDs
        List","paramNames":["ds_gene_ids"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"GeneByLocusTag","defaultSummaryView":"_default","parameters":[{"displayName":"Gene
        ID input set","parsers":[{"displayName":"List","name":"list","description":"The
        input is a list of records, one record in each row, and each record can have
        multiple columns."}],"isVisible":true,"type":"input-dataset","help":"Input
        a set of gene IDs, or upload a file. <br><br>\n            \n            IDs
        can be delimited by a comma, semicolon, space, or new-line.<br><br>\n            \n            It
        is possible that some IDs in your list will not be found in the database \n            due
        to annotation changes or unavailable ID mapping. At present, we do not \n            have
        a mechanism to inform you which IDs from your input list fail to  match \n            IDs
        in the database.","dependentParams":[],"isReadOnly":false,"allowEmptyValue":false,"name":"ds_gene_ids","recordClassName":"transcript","initialDisplayValue":"","defaultIdList":"NCU06658","properties":{"organisms":["Saccharomyces
        cerevisiae S288C"],"specificAttribution":[]},"group":"empty"}],"properties":{"organisms":["Saccharomyces
        cerevisiae S288C"],"specificAttribution":[]},"summaryViewPlugins":[{"displayName":"Gene
        Results","name":"_default","description":"View transcripts."},{"displayName":"Genome
        View","name":"genomic-view","description":"View your hits mapped to their
        corresponding largest assembled genomic DNA segment, often a chromosome, but\n
        sometimes a contig or scaffold."}]},"validation":{"level":"DISPLAYABLE","isValid":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"searchName":"GeneByLocusTag","searchConfig":{"parameters":{"ds_gene_ids":"223302833"}},"customName":"Enrichment
      target"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fungidb.org/fungidb/service/users/999138960747/steps
  response:
    body:
      string: '{"id":438874983}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://fungidb.org/fungidb/service/users/999138960747/steps
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"__pathfinder_internal__:Pathfinder enrichment analysis","isPublic":false,"isSaved":false,"stepTree":{"stepId":438874983}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fungidb.org/fungidb/service/users/999138960747/strategies
  response:
    body:
      string: '{"id":330145993}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://fungidb.org/fungidb/service/users/999138960747/strategies
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://fungidb.org/fungidb/service/users/999138960747/steps/438874983/analysis-types/go-enrichment
  response:
    body:
      string: '{"searchData":{"paramNames":["organism","goAssociationsOntologies","goEvidenceCodes","goSubset","pValueCutoff"],"isCacheable":false,"displayName":"Gene
        Ontology Enrichment","releaseVersion":"22","name":"go-enrichment","description":"<p>The
        Gene Ontology (GO) is a public resource that develops organism \n            independent
        ontologies (structured controlled vocabularies) that describe \n            a
        gene&rsquo;s molecular function, cellular component or biological processes.
        \n            GO Terms are associated with genes as a form of annotation.
        \n            This tool looks for enriched GO terms &#8212; GO terms that
        appear in the genes of \n            your search result (subset) more frequently
        than they do in the set of all genes \n            for that organism (background).\n           </p>\n           <p>For
        statistical reasons, this analysis can only be performed on a set of genes
        \n             from a single organism. If your gene result contains genes
        from several organisms, \n             use the Filter Table to limit your
        gene result. Then choose an Ontology, a GO Association \n             Source,
        and a P-Value Cutoff and click Submit.\n           </p>\n           <p> By
        selecting GOSlim_generic_only for the GO subset parameter the background dataset\n             and
        the gene list will be limited to GO terms from the GO Slim generic subset.
        \n           </p>\n           <p>Hover over the help icon <div class=\"HelpTrigger\"><i
        class=\"fa fa-question-circle\"></i></div>\n             next to each parameter
        for more information about that parameter.\n           </p>","groups":[{"displayType":"hidden","displayName":"","name":"_hidden","description":"","isVisible":false,"parameters":[]},{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["organism","goAssociationsOntologies","goEvidenceCodes","goSubset","pValueCutoff"]}],"customThumbnail":"wdkCustomization/images/go-analysis-logo.png","shortDescription":"Find
        Gene Ontology terms that are enriched in your gene result.","parameters":[{"displayName":"Organism","minSelectedCount":1,"maxSelectedCount":1,"isVisible":true,"type":"single-pick-vocabulary","help":"Choose
        an organism to run the enrichment analysis on.   To see all organisms, select
        ''All results'' filter above. \n  (Only organisms with enrichment results
        are shown here).","dependentParams":[],"displayType":"select","isReadOnly":false,"vocabulary":[["Aspergillus
        fumigatus Af293","Aspergillus fumigatus Af293",null]],"allowEmptyValue":false,"name":"organism","initialDisplayValue":"Aspergillus
        fumigatus Af293","properties":{"organisms":["Saccharomyces cerevisiae S288C"],"specificAttribution":[]},"group":"empty"},{"displayName":"Ontology","minSelectedCount":1,"maxSelectedCount":1,"isVisible":true,"type":"single-pick-vocabulary","help":"Choose
        the Ontology that you are interested in analyzing. Only terms from this ontol[...]
- request:
    body: '{"reportConfig":{"pagination":{"offset":0,"numRecords":0}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fungidb.org/fungidb/service/users/999138960747/steps/438874983/reports/standard
  response:
    body:
      string: '{"records":[],"meta":{"displayViewTotalCount":50,"tables":[],"pagination":{"offset":0,"numRecords":0},"cachePreviouslyExisted":true,"viewTotalCount":50,"sorting":[],"recordClassName":"transcript","responseCount":0,"attributes":[],"totalCount":50,"displayTotalCount":50}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"analysisName":"go-enrichment","parameters":{"organism":"[\"Aspergillus
      fumigatus Af293\"]","goAssociationsOntologies":"[\"Biological Process\"]","goEvidenceCodes":"[\"Computed\",\"Curated\"]","goSubset":"[\"No\"]","pValueCutoff":"0.05"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fungidb.org/fungidb/service/users/999138960747/steps/438874983/analyses
  response:
    body:
      string: '{"displayName":"Gene Ontology Enrichment","stepId":438874983,"analysisId":203551203,"description":"<p>The
        Gene Ontology (GO) is a public resource that develops organism \n            independent
        ontologies (structured controlled vocabularies) that describe \n            a
        gene&rsquo;s molecular function, cellular component or biological processes.
        \n            GO Terms are associated with genes as a form of annotation.
        \n            This tool looks for enriched GO terms &#8212; GO terms that
        appear in the genes of \n   [...]
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://fungidb.org/fungidb/service/users/999138960747/steps/438874983/analyses/203551203/result
  response:
    body:
      string: '{"status":"COMPLETE"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://fungidb.org/fungidb/service/users/999138960747/steps/438874983/analyses/203551203/result/status
  response:
    body:
      string: '{"status":"COMPLETE"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://fungidb.org/fungidb/service/users/999138960747/steps/438874983/analyses/203551203/result
  response:
    body:
      string: '{"headerRow":{"bonferroni":"Bonferroni","resultGenes":"Genes in your
        result with this term","goId":"GO ID","goTerm":"GO Term","oddsRatio":"Odds
        ratio","foldEnrich":"Fold enrichment","pValue":"P-value","percentInResult":"Percent
        of bkgd Genes in your result","benjamini":"Benjamini","bgdGenes":"Genes in
        the bkgd with this term"},"goSubset":["No"],"resultData":[{"bonferroni":"0.0459600137852","resultGenes":"<a
        href=''/a/app/search/transcript/GeneByLocusTag?param.ds_gene_ids.idList=Afu1g00310,Afu1g00450,Afu1g00480,&autoRun=1''>3<\/a>","goId":"GO:1901072","goTerm":"glucosamine-containing
        compound catabolic process","oddsRatio":"31.82","foldEnrich":"26.16","pValue":"0.000192301312909","percentInResult":"13.0","benjamini":"0.0197570725979","bgdGenes":"23"},{"bonferroni":"0.0576486533112","resultGenes":"<a
        href=''/a/app/search/trans[...]
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://fungidb.org/fungidb/service/users/999138960747/steps/438874983/analyses/203551223/result
  response:
    body:
      string: '{"headerRow":{"bonferroni":"Bonferroni","resultGenes":"Genes in your
        result with this term","goId":"GO ID","goTerm":"GO Term","oddsRatio":"Odds
        ratio","foldEnrich":"Fold enrichment","pValue":"P-value","percentInResult":"Percent
        of bkgd Genes in your result","benjamini":"Benjamini","bgdGenes":"Genes in
        the bkgd with this term"},"goSubset":["No"],"resultData":[],"revidoInputList":"","contextHash":"8e0cb9a060eeb40ecaf7f8bfda8729f2","hiddenDownloadPath":"hiddenGoEnrichmentResult.tsv","downloadUrl":"https://fungidb.org/fungidb/service/users/999138960747/steps/438874983/analyses/203551223/resources","goTermBaseUrl":"http://amigo.geneontology.org/amigo/term/","accessToken":"044de7b396cda399","headerDescription":{"bonferroni":"Bonferroni
        adjusted p-value","resultGenes":"Number of genes with this term in your result","goId":"Gene
        Ontology ID","goTerm":"Gene Ontology Term","oddsRatio":"Odds ratio statistic
        from the Fisher''s exact test","foldEnrich":"The percent of genes with this
        term in your result divided by the percent of genes with this term in the
        background","pValue":"P-value from Fisher''s exact test","percentInResult":"Of
        the genes in the background with this term, the percent that are present in
        your result","benjamini":"Benjamini-Hochberg false discovery rate (FDR)","bgdGenes":"Number
        of genes with this term in the background"},"downloadPath":"goEnrichmentResult.tsv","imageDownloadPath":"goCloud.png","evidenceCodes":["Computed","Curated"],"goOntologies":["Cellular
        Component"],"pvalueCutoff":"0.05","propertiesUrl":"https://fungidb.org/fungidb/service/users/999138960747/steps/438874983/analyses/203551223/properties"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://fungidb.org/fungidb/service/users/999138960747/strategies/330145993
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
