interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/users/current
  response:
    body:
      string: '{"isGuest":true,"id":1216005653,"email":"guest1216005653","properties":{"organizationType":"","firstName":"","lastName":"","country":"","groupName":"","groupType":"","subscriptionToken":"","organization":"","middleName":"","position":"","interests":"","username":""}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"sourceType":"idList","sourceContent":{"ids":["PF3D7_0100100"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/1216005653/datasets
  response:
    body:
      string: '{"id":223293273}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/record-types/transcript/searches/GeneByLocusTag?expandParams=true
  response:
    body:
      string: '{"searchData":{"summary":"Find a gene by its ID.","urlSegment":"GeneByLocusTag","dynamicAttributes":[{"isInReport":true,"formats":[],"truncateTo":100,"displayName":"Input
        ID","name":"input_id","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"STRING","tools":{"reports":[],"filters":[]},"properties":{"organisms":["P.
        falciparum","P. vivax","P. yoelii","P. berghei","P. chabaudi","P. knowlesi"],"specificAttribution":[]}},{"isInReport":true,"formats":[],"truncateTo":100,"displayName":"Input
        Order","name":"dataset_order","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"STRING","tools":{"reports":[],"filters":[]},"properties":{"organisms":["P.
        falciparum","P. vivax","P. yoelii","P. berghei","P. chabaudi","P. knowlesi"],"specificAttribution":[]}},{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["P.
        falciparum","P. vivax","P. yoelii","P. berghei","P. chabaudi","P. knowlesi"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"dataset_order","direction":"ASC"},{"attributeName":"organism","direction":"ASC"},{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"List
        of IDs","fullName":"GeneQuestions.GeneByLocusTag","description":"Find genes
        based on Gene ID(s). <br><br>\n           \n           <ul>\n\t        <li>Enter
        one or more gene ID(s) by typing or pasting, \n                    or upload
        a plain text file containing a list of IDs.\n\t\t    IDs can be delimited
        by a comma, semicolon, new-line or space.\n\t\t    For example, a list can
        be in the following form:\n\t\t    ''NCU06658, NCU06659, Ndisc8579_106685''.</li>\n\t\t<li>The
        IDs you provide can contain * as a wild-card. For example,\n\t\t    searching
        for XP_001350415* will identify XP_001350415.1,\n\t\t    XP_001350415.2, etc.</li>\n\t\t<li>Importantly,
        it is possible that some IDs in your list will not be \n                    found
        in the database due to annotation changes or unavailable\n                    ID
        mapping. At present, we do not have a mechanism to inform you which IDs \n                    from
        your input list were not found in the database.</li>\n           </ul>","defaultAttributes":["primary_key","dataset_order","organism","gene_location_text","gene_product","gene_type","input_id"],"groups":[{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["ds_gene_ids"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"IDs
        List","paramNames":["ds_gene_ids"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"GeneByLocusTag","defaultSummaryView":"_default","parameters":[{"displayName":"Gene
        ID input set","parsers":[{"displayName":"List","name":"list","description":"The
        input is a list of records, one record in each row, and each record can have
        multiple columns."}],"isVisible":true,"type":"input-dataset","help":"Input
        a set of gene IDs, or upload a file. <br><br>\n            \n            IDs
        can be delimited by a comma, semicolon, space, or new-line.<br><br>\n            \n            It
        is possible that some IDs in your list will not be found in the database \n            due
        to annotation changes or unavailable ID mapping. At present, we do not \n            have
        a mechanism to inform you which IDs from your input list fail to  match \n            IDs
        in the database.","dependentParams":[],"isReadOnly":false,"allowEmptyValue":false,"name":"ds_gene_ids","recordClassName":"transcript","initialDisplayValue":"","defaultIdList":"PF3D7_1133400","properties":{"organisms":["P.
        falciparum","P. vivax","P. yoelii","P. berghei","P. chabaudi","P. knowlesi"],"specificAttribution":[]},"group":"empty"}],"properties":{"organisms":["P.
        falciparum","P. vivax","P. yoelii","P. berghei","P. chabaudi","P. knowlesi"],"specificAttribution":[]},"summaryViewPlugins":[{"displayName":"Gene
        Results","name":"_default","description":"View transcripts."},{"displayName":"Genome
        View","name":"genomic-view","description":"View your hits mapped to their
        corresponding largest assembled genomic DNA segment, often a chromosome, but\n
        sometimes a contig or scaffold."}]},"validation":{"level":"DISPLAYABLE","isValid":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"searchName":"GeneByLocusTag","searchConfig":{"parameters":{"ds_gene_ids":"223293273"}},"customName":"Enrichment
      target"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/1216005653/steps
  response:
    body:
      string: '{"id":438849273}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://plasmodb.org/plasmo/service/users/1216005653/steps
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"__pathfinder_internal__:Pathfinder enrichment analysis","isPublic":false,"isSaved":false,"stepTree":{"stepId":438849273}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/1216005653/strategies
  response:
    body:
      string: '{"id":330129273}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://plasmodb.org/plasmo/service/users/1216005653/strategies
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/users/1216005653/steps/438849273/analysis-types/go-enrichment
  response:
    body:
      string: '{"searchData":{"paramNames":["organism","goAssociationsOntologies","goEvidenceCodes","goSubset","pValueCutoff"],"isCacheable":false,"displayName":"Gene
        Ontology Enrichment","releaseVersion":"22","name":"go-enrichment","description":"<p>The
        Gene Ontology (GO) is a public resource that develops organism \n            independent
        ontologies (structured controlled vocabularies) that describe \n            a
        gene&rsquo;s molecular function, cellular component or biological processes.
        \n            GO Terms are associated with genes as a form of annotation.
        \n            This tool looks for enriched GO terms &#8212; GO terms that
        appear in the genes of \n            your search result (subset) more frequently
        than they do in the set of all genes \n            for that organism (background).\n           </p>\n           <p>For
        statistical reasons, this analysis can only be performed on a set of genes
        \n             from a single organism. If your gene result contains genes
        from several organisms, \n             use the Filter Table to limit your
        gene result. Then choose an Ontology, a GO Association \n             Source,
        and a P-Value Cutoff and click Submit.\n           </p>\n           <p> By
        selecting GOSlim_generic_only for the GO subset parameter the background dataset\n             and
        the gene list will be limited to GO terms from the GO Slim generic subset.
        \n           </p>\n           <p>Hover over the help icon <div class=\"HelpTrigger\"><i
        class=\"fa fa-question-circle\"></i></div>\n             next to each parameter
        for more information about that parameter.\n           </p>","groups":[{"displayType":"hidden","displayName":"","name":"_hidden","description":"","isVisible":false,"parameters":[]},{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["organism","goAssociationsOntologies","goEvidenceCodes","goSubset","pValueCutoff"]}],"customThumbnail":"wdkCustomization/images/go-analysis-logo.png","shortDescription":"Find
        Gene Ontology terms that are enriched in your gene result.","parameters":[{"displayName":"Organism","minSelectedCount":1,"maxSelectedCount":1,"isVisible":true,"type":"single-pick-vocabulary","help":"Choose
        an organism to run the enrichment analysis on.   To see all organisms, select
        ''All results'' filter above. \n  (Only organisms with enrichment results
        are shown here).","dependentParams":[],"displayType":"select","isReadOnly":false,"vocabulary":[["Plasmodium
        falciparum 3D7","Plasmodium falciparum 3D7",null]],"allowEmptyValue":false,"name":"organism","initialDisplayValue":"Plasmodium
        falciparum 3D7","properties":{"organisms":["P. falciparum","P. vivax","P.
        yoelii","P. berghei","P. chabaudi","P. knowlesi"],"specificAttribution":[]},"group":"empty"},{"displayName":"Ontology","minSelectedCount":1,"maxSelectedCount":1,"isVisible":true,"type":"single-pick-vocabulary","help":"Choose
        the Ontology that you are in[...]
- request:
    body: '{"reportConfig":{"pagination":{"offset":0,"numRecords":0}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/1216005653/steps/438849273/reports/standard
  response:
    body:
      string: '{"records":[],"meta":{"displayViewTotalCount":1,"tables":[],"pagination":{"offset":0,"numRecords":0},"cachePreviouslyExisted":true,"viewTotalCount":1,"sorting":[],"recordClassName":"transcript","responseCount":0,"attributes":[],"totalCount":1,"displayTotalCount":1}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"analysisName":"go-enrichment","parameters":{"organism":"[\"Plasmodium
      falciparum 3D7\"]","goAssociationsOntologies":"[\"Biological Process\"]","goEvidenceCodes":"[\"Computed\",\"Curated\"]","goSubset":"[\"No\"]","pValueCutoff":"0.05"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/1216005653/steps/438849273/analyses
  response:
    body:
      string: '{"displayName":"Gene Ontology Enrichment","stepId":438849273,"analysisId":203547173,"description":"<p>The
        Gene Ontology (GO) is a public resource that develops organism \n            independent
        ontologies (structured controlled vocabularies) that describe \n            a
        gene&rsquo;s molecular function, cellular component or biological processes.
        \n            GO Terms are associated with genes as a form of annotation.
        \n            This tool looks for enriched GO terms &#8212; GO terms that
        appear in the genes of \n   [...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/1216005653/steps/438849273/analyses/203547173/result
  response:
    body:
      string: '{"status":"COMPLETE"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/users/1216005653/steps/438849273/analyses/203547173/result/status
  response:
    body:
      string: '{"status":"COMPLETE"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/users/1216005653/steps/438849273/analyses/203547173/result
  response:
    body:
      string: '{"headerRow":{"bonferroni":"Bonferroni","resultGenes":"Genes in your
        result with this term","goId":"GO ID","goTerm":"GO Term","oddsRatio":"Odds
        ratio","foldEnrich":"Fold enrichment","pValue":"P-value","percentInResult":"Percent
        of bkgd Genes in your result","benjamini":"Benjamini","bgdGenes":"Genes in
        the bkgd with this term"},"goSubset":["No"],"resultData":[{"bonferroni":"0.290560142825","resultGenes":"<a
        href=''/a/app/search/transcript/GeneByLocusTag?param.ds_gene_ids.idList=PF3D7_0100100,&autoRun=1''>1<\/a>","goId":"GO:0098609","goTerm":"cell-cell
        adhesion","oddsRatio":"inf","foldEnrich":"72.27","pValue":"0.0138361972774","percentInResult":"1.6","benjamini":"0.0573401420375","bgdGenes":"62"},{"bonferroni":"0.299933050659","resultGenes":"<a
        href=''/a/app/search/transcript/GeneByLocusTag?param.ds_gene_ids.idList=PF3D7_01001[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://plasmodb.org/plasmo/service/users/1216005653/strategies/330129273
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
