interactions:
- request:
    body: '{"contextParamValues":{"organism":"[\"Plasmodium falciparum 3D7\"]","epitope_confidence":"[\"High\"]"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/record-types/transcript/searches/GenesWithEpitopes?expandParams=true
  response:
    body:
      string: '{"searchData":{"summary":"Find genes whose protein products are predicted
        to contain epitopes \n           identified by the Immune Epitope Database
        and Analysis Resource (IEDB).","urlSegment":"GenesWithEpitopes","dynamicAttributes":[{"isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"count-histogram","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Epitope
        Count","name":"count","isSortable":true,"isDisplayable":true,"isRemovable":true,"align":"center","columnDataType":"STRING","tools":{"reports":[],"filters":[]},"properties":{"organisms":["P.
        falciparum","P. vivax","P. yoelii","P. berghei","P. chabaudi","P. knowlesi"],"specificAttribution":[]}},{"isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"confidence-histogram","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Confidence","name":"confidence","isSortable":true,"isDisplayable":true,"isRemovable":true,"align":"center","columnDataType":"STRING","tools":{"reports":[],"filters":[]},"properties":{"organisms":["P.
        falciparum","P. vivax","P. yoelii","P. berghei","P. chabaudi","P. knowlesi"],"specificAttribution":[]}},{"isInReport":true,"formats":[],"truncateTo":100,"displayName":"Met
        Search Criteria","name":"matched_result","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"STRING","tools":{"reports":[],"filters":[]},"properties":{"organisms":["P.
        falciparum","P. vivax","P. yoelii","P. berghei","P. chabaudi","P. knowlesi"],"specificAttribution":[]}},{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["P.
        falciparum","P. vivax","P. yoelii","P. berghei","P. chabaudi","P. knowlesi"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"organism","direction":"ASC"},{"attributeName":"gene_location_text","direction":"DESC"},{"attributeName":"count","direction":"DESC"}],"isAnalyzable":true,"displayName":"Epitope
        Presence (IEDB)","fullName":"GeneQuestions.GenesWithEpitopes","description":"Find
        genes whose protein products show similarity to an epitope identified \n                by
        the <a href=\"http://www.immuneepitope.org\">Immune \n                Epitope
        Database and Analysis Resource</a> (IEDB). <p> Epitopes are antigenic\n                determinants
        recognized by the immune system''s antibodies, B-cells or T-cells. \n                The
        epitopes from the original Epitope Source Accession Number \n                provided
        by IEDB are mapped to the corresponding gene identifiers in PlasmoDB.\n                <br><br>\n                \n                Epitope
        sequences are mapped to genes in VEuPathDB using exact string matching or
        \n                high quality BLAST similarity \n                (percent
        identity >= 97%) between the GenBank proteins listed on IEDB and the proteins
        \n                found in PlasmoDB. Confidence levels are assigned to each
        \n                set of epitopes based on the quality of this mapping. <br><br>","defaultAttributes":["primary_key","gene_product","organism","gene_location_text","count","confidence"],"groups":[{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["organism","epitope_confidence"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Epitopes","paramNames":["organism","epitope_confidence"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"GenesWithEpitopes","defaultSummaryView":"_default","parameters":[{"displayName":"Organism","minSelectedCount":1,"maxSelectedCount":-1,"isVisible":true,"type":"multi-pick-vocabulary","help":"Select
        organism(s) you wish to query against. Click the [+] to expand taxon groupings.","depthExpanded":0,"dependentParams":[],"displayType":"treeBox","isReadOnly":false,"vocabulary":{"data":{"display":"@@fake@@","term":"@@fake@@"},"children":[{"data":{"display":"Haemoproteidae","term":"Haemoproteidae"},"children":[{"data":{"display":"Haemoproteus
        tartakovskyi strain SISKIN1","term":"Haemoproteus tartakovskyi strain SISKIN1"},"children":[]}]},{"data":{"display":"Plasmodiidae","term":"Plasmodiidae"},"children":[{"data":{"display":"Hepatocystis","term":"Hepatocystis"},"children":[{"data":{"display":"Hepatocystis
        sp. ex Piliocolobus tephrosceles 2019","term":"Hepatocystis sp. ex Piliocolobus
        tephrosceles 2019"},"[...]
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/users/current
  response:
    body:
      string: '{"isGuest":true,"id":1216005033,"email":"guest1216005033","properties":{"organizationType":"","firstName":"","lastName":"","country":"","groupName":"","groupType":"","subscriptionToken":"","organization":"","middleName":"","position":"","interests":"","username":""}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchName":"GenesWithEpitopes","searchConfig":{"parameters":{"organism":"[\"Plasmodium
      falciparum 3D7\"]","epitope_confidence":"[\"High\"]"}},"customName":"GenesWithEpitopes"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/1216005033/steps
  response:
    body:
      string: '{"id":438849163}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://plasmodb.org/plasmo/service/users/1216005033/steps
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/users/1216005033/steps/438849163
  response:
    body:
      string: '{"displayName":"Epitope Presence (IEDB)","description":"Find genes
        whose protein products show similarity to an epitope identified \n                by
        the <a href=\"http://www.immuneepitope.org\">Immune \n                Epitope
        Database and Analysis Resource</a> (IEDB). <p> Epitopes are antigenic\n                determinants
        recognized by the immune system''s antibodies, B-cells or T-cells. \n                The
        epitopes from the original Epitope Source Accession Number \n                provided
        by IEDB are mapped to the corresponding gene identifiers in PlasmoDB.\n                <br><br>\n                \n                Epitope
        sequences are mapped to genes in VEuPathDB using exact string matching or
        \n                high quality BLAST similarity \n                (percent
        identity >= 97%) between the GenBank proteins listed on IEDB and the proteins
        \n                found in PlasmoDB. Confidence levels are assigned to each
        \n                set of epitopes based on the quality of this mapping. <br><br>","displayPreferences":{},"customName":"GenesWithEpitopes","ownerId":1216005033,"shortDisplayName":"Epitopes","baseCustomName":"GenesWithEpitopes","expanded":false,"lastRunTime":"2026-03-24T13:33:16.209","hasCompleteStepAnalyses":false,"searchName":"GenesWithEpitopes","recordClassName":"transcript","createdTime":"2026-03-24T13:33:16.209","isFiltered":false,"strategyId":null,"id":438849163,"validation":{"level":"RUNNABLE","isValid":true},"searchConfig":{"wdkWeight":0,"columnFilters":{},"filters":[{"name":"matched_transcript_filter_array","disabled":false,"value":{"values":["Y"]}}],"parameters":{"organism":"[\"Plasmodium
        falciparum 3D7\"]","epitope_confidence":"[\"High\"]"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name":"Transcript - GenesWithEpitopes","isPublic":false,"isSaved":false,"stepTree":{"stepId":438849163}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/1216005033/strategies
  response:
    body:
      string: '{"id":330129163}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://plasmodb.org/plasmo/service/users/1216005033/strategies
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/users/1216005033/strategies/330129163
  response:
    body:
      string: '{"lastViewed":"2026-03-24T13:33:17.308","rootStepId":438849163,"signature":"f4554f01ac5c52ca","author":"Guest
        User","releaseVersion":"68","isValid":true,"description":"","leafAndTransformStepCount":1,"steps":{"438849163":{"displayName":"Epitope
        Presence (IEDB)","description":"Find genes whose protein products show similarity
        to an epitope identified \n                by the <a href=\"http://www.immuneepitope.org\">Immune
        \n                Epitope Database and Analysis Resource</a> (IEDB). <p> Epitopes
        are antigenic\n                determinants recognized by the immune system''s
        antibodies, B-cells or T-cells. \n                The epitopes from the original
        Epitope Source Accession Number \n                provided by IEDB are mapped
        to the corresponding gene identifiers in PlasmoDB.\n                <br><br>\n                \n                Epitope
        sequences are mapped to genes in VEuPathDB using exact string matching or
        \n                high quality BLAST similarity \n                (percent
        identity >= 97%) between the GenBank proteins listed on IEDB and the proteins
        \n                found in PlasmoDB. Confidence levels are assigned to each
        \n                set of epitopes based on the quality of this mapping. <br><br>","displayPreferences":{},"customName":"GenesWithEpitopes","ownerId":1216005033,"shortDisplayName":"Epitopes","baseCustomName":"GenesWithEpitopes","expanded":false,"lastRunTime":"2026-03-24T13:33:16.209","hasCompleteStepAnalyses":false,"estimatedSize":111,"searchName":"GenesWithEpitopes","recordClassName":"transcript","createdTime":"2026-03-24T13:33:16.209","isFiltered":false,"strategyId":330129163,"id":438849163,"validation":{"level":"SEMANTIC","isValid":true},"searchConfig":{"wdkWeight":0,"columnFilters":{},"filters":[{"name":"matched_transcript_filter_array","disabled":false,"value":{"values":["Y"]}}],"parameters":{"organism":"[\"Plasmodium
        falciparum 3D7\"]","epitope_confidence":"[\"High\"]"}}}},"stepTree":{"stepId":438849163},"isDeleted":false,"estimatedSize":-1,"isSaved":false,"isExample":false,"organization":"","name":"Transcript
        - GenesWithEpitopes","recordClassName":"transcript","createdTime":"2026-03-24T13:33:16","isPublic":false,"strategyId":330129163,"lastModified":"2026-03-24T13:33:16","nameOfFirstStep":"Epitope
        Presence (IEDB)"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"reportConfig":{"attributes":["primary_key"],"pagination":{"offset":0,"numRecords":-1}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/1216005033/steps/438849163/reports/standard
  response:
    body:
      string: '{"records":[{"tables":{},"displayName":"PF3D7_0102200","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"primary_key":"PF3D7_0102200"},"id":[{"name":"gene_source_id","value":"PF3D7_0102200"},{"name":"source_id","value":"PF3D7_0102200.1"},{"name":"project_id","value":"PlasmoDB"}],"tableErrors":[]},{"tables":{},"displayName":"PF3D7_0102500","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"primary_key":"PF3D7_0102500"},"id":[{"name":"gene_source_id","value":"PF3D7_0102500"},{"name":"source_id","value":"PF3D7_0102500.1"},{"name":"project_id","value":"PlasmoDB"}],"tableErrors":[]},{"tables":{},"displayName":"PF3D7_0113000","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"primary_key":"PF3D7_0113000"},"id":[{"name":"gene_sourc[...]
[...]
- request:
    body: '{"reportConfig":{"pagination":{"offset":0,"numRecords":0}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/1216005033/steps/438849163/reports/standard
  response:
    body:
      string: '{"records":[],"meta":{"displayViewTotalCount":111,"tables":[],"pagination":{"offset":0,"numRecords":0},"cachePreviouslyExisted":true,"viewTotalCount":111,"sorting":[],"recordClassName":"transcript","responseCount":0,"attributes":[],"totalCount":111,"displayTotalCount":111}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
