interactions:
- request:
    body: '{"searchText":"kinase","pagination":{"offset":0,"numRecords":50},"restrictToProject":"PlasmoDB","documentTypeFilter":{"documentType":"gene"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/site-search
  response:
    body:
      string: "{\n  \"documentTypes\": [\n    {\n      \"displayName\": \"News\",\n
        \     \"displayNamePlural\": \"News\",\n      \"count\": 0,\n      \"searchFields\":
        [{\n        \"isSubtitle\": false,\n        \"displayName\": \"Content\",\n
        \       \"name\": \"TEXT__news_content\",\n        \"term\": \"content\"\n
        \     }],\n      \"id\": \"news\",\n      \"hasOrganismField\": false,\n      \"summaryFields\":
        [],\n      \"isWdkRecordType\": false\n    },\n    {\n      \"displayName\":
        \"Popset isolate sequence\",\n      \"displayNamePlural\": \"Popset isolate
        sequences\",\n      \"count\": 0,\n      \"wdkSearchName\": \"PopsetIsolatesByText\",\n
        \     \"searchFields\": [\n        {\n          \"isSubtitle\": false,\n          \"displayName\":
        \"Curated geographic location\",\n          \"name\": \"TEXT__popsetSequence_curated_geographic_location\",\n
        \         \"term\": \"curated_geographic_location\"\n        },\n        {\n
        \         \"isSubtitle\": false,\n          \"displayName\": \"Curated isolation
        source\",\n          \"name\": \"TEXT__popsetSequence_curated_is[...]
- request:
    body: '{"searchConfig":{"parameters":{"text_expression":"kinase","text_fields":"[\"product\",
      \"name\", \"primary_key\", \"Alias\", \"GOTerms\", \"Notes\", \"Products\"]","text_search_organism":"[\"Plasmodium
      falciparum 3D7\"]","document_type":"gene"}},"reportConfig":{"attributes":["primary_key","gene_source_id","gene_name","gene_product","gene_type","organism","gene_location_text","gene_previous_ids"],"tables":[],"pagination":{"offset":0,"numRecords":50}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/record-types/transcript/searches/GenesByText/reports/standard
  response:
    body:
      string: '{"records":[{"tables":{},"displayName":"PF3D7_0102600","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"gene_name":"FIKK1","gene_location_text":"Pf3D7_01_v3:118,812..122,534(-)","gene_previous_ids":"Previous
        IDs: MAL1P1.17;PFA0130c","gene_type":"protein coding gene","organism":"<i>Plasmodium
        falciparum 3D7<\/i>","gene_source_id":"PF3D7_0102600","gene_product":"serine/threonine
        protein kinase, FIKK family","primary_key":"PF3D7_0102600"},"id":[{"name":"gene_source_id","value":"PF3D7_0102600"},{"name":"source_id","value":"PF3D7_0102600.1"},{"name":"project_id","value":"PlasmoDB"}],"tableErrors":[]},{"tables":{},"displayName":"PF3D7_0103700","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"gene_name":"PSTK","gene_location_text":"Pf3D7_01_v3:166,497..168,687(+)","gene_previous_ids":"Previous
        IDs: MAL1P1.23;PFA0185w","gene_type":"protein coding gene","organism":"<i>Plasmodium
        falciparum 3D7<\/i>","gene_source_id":"PF3D7_0103700","gene_product":"L-seryl-tRNA(Sec)
        kinase, putative","primary_key":"PF3D7_0103700"},"id":[{"name":"gene_sou[...]
- request:
    body: '{"searchText":"kinase","pagination":{"offset":0,"numRecords":50},"restrictToProject":"PlasmoDB","restrictSearchToOrganisms":["Plasmodium
      falciparum 3D7"],"documentTypeFilter":{"documentType":"gene"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/site-search
  response:
    body:
      string: "{\n  \"documentTypes\": [\n    {\n      \"displayName\": \"News\",\n
        \     \"displayNamePlural\": \"News\",\n      \"count\": 0,\n      \"searchFields\":
        [{\n        \"isSubtitle\": false,\n        \"displayName\": \"Content\",\n
        \       \[...]
