interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://toxodb.org/toxo/app
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n        <title>ToxoDB</title>\n
        \   <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\"/>\n    <link href=\"/toxo/images/ToxoDB/favicon.ico\" type=\"image/x-icon\"
        rel=\"shortcut icon\"/>\n    <script>\n            window.__asset_path_remove_me_please__
        = \"/toxo/bundles/\";\n\n            window.__SITE_CONFIG__ = {\n                requireLogin:
        \"true\" === \"true\",\n        rootElement: \"#wdk-container\",\n        rootUrl:
        \"/toxo/app\",\n        endpoint: \"/toxo/service\",\n        projectId: \"ToxoDB\",\n
        \       webAppUrl: \"/toxo\",\n        facebookUrl: \"https://facebook.com/pages/EuPathDB/133123003429972\",\n
        \       twitterUrl: \"https://t[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://toxodb.org/toxo/service/record-types/transcript/searches/GenesByTaxon?expandParams=true
  response:
    body:
      string: '{"searchData":{"summary":"Find all genes from one or more species/organism.","urlSegment":"GenesByTaxon","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["T.
        gondii"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"organism","direction":"ASC"},{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"Organism","fullName":"GeneQuestions.GenesByTaxon","description":"Find
        all genes from one or more species/organism.","defaultAttributes":["primary_key","organism","gene_location_text","gene_product"],"groups":[{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["organism"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Organism","paramNames":["organism"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"GenesByTaxon","defaultSummaryView":"_default","parameters":[{"displayName":"Organism","minSelectedCount":1,"maxSelectedCount":-1,"isVisible":true,"type":"multi-pick-vocabulary","help":"Select
        organism(s) you wish to query against. Click the [+] to expand taxon groupings.","depthExpanded":0,"dependentParams":[],"displayType":"treeBox","isReadOnly":false,"vocabulary":{"data":{"display":"@@fake@@","term":"@@fake@@"},"children":[{"data":{"display":"Eimeriidae","term":"Eimeriidae"},"children":[{"data":{"display":"Cyclospora","term":"Cyclospora"},"children":[{"data":{"display":"Cyclospora
        cayetanensis isolate NF1_C8","term":"Cyclospora cayetanensis isolate NF1_C8"},"children":[]},{"data":{"display":"Cyclospora
        cayetanensis strain CHN_HEN01","term":"Cyclospora cayetanensis strain CHN_HEN01"},"children":[]}]},{"data":{"display":"Eimeria","term":"Eimeria"},"children":[{"data":{"display":"Eimeria
        acer[...]
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://toxodb.org/toxo/service/users/current
  response:
    body:
      string: '{"isGuest":false,"id":1214413863,"email":"ahmed.o.muharram@gmail.com","properties":{"organizationType":"academic","firstName":"PathFinder","lastName":"Test
        User","country":"US","groupName":"Chris Callison-Burch Lab","groupType":"research","subscriptionToken":"","organization":"University
        of Pennsylvania","middleName":"","position":"grad_student","interests":"","username":"pathfinder-dev-testing"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchName":"GenesByTaxon","searchConfig":{"parameters":{"organism":"[\"Cyclospora
      cayetanensis isolate NF1_C8\"]"}},"customName":"Base step for refine test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://toxodb.org/toxo/service/users/1214413863/steps
  response:
    body:
      string: '{"id":438849023}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://toxodb.org/toxo/service/users/1214413863/steps
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"test-refine-base","isPublic":false,"isSaved":false,"stepTree":{"stepId":438849023}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://toxodb.org/toxo/service/users/1214413863/strategies
  response:
    body:
      string: '{"id":330129103}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://toxodb.org/toxo/service/users/1214413863/strategies
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://toxodb.org/toxo/service/record-types/transcript/searches/GenesByWeightFilter?expandParams=true
  response:
    body:
      string: '{"searchData":{"urlSegment":"GenesByWeightFilter","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"STRING","tools":{"reports":[],"filters":[]},"properties":{"organisms":["T.
        gondii"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"wdk_weight","direction":"ASC"},{"attributeName":"source_id","direction":"ASC"}],"isAnalyzable":true,"displayName":"Filter
        by assigned Weight","allowedPrimaryInputRecordClassNames":["transcript"],"fullName":"InternalQuestions.GenesByWeightFilter","description":"Filter
        away results that have a weight outside the specified range.  \n            (This
        transform is only useful if the input result sets have used weights)","defaultAttributes":["primary_key","organism","gene_product","wdk_weight"],"groups":[{"displayType":"hidden","displayName":"","name":"_hidden","description":"","isVisible":false,"parameters":["gene_result"]},{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["min_weight","max_weight"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Weight","paramNames":["gene_result","min_weight","max_weight"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"ByWeightFilter","defaultSummaryView":"_default","parameters":[{"help":"Input
        Result Set","dependentParams":[],"isReadOnly":true,"displayName":"Input Result
        Set","allowEmptyValue":true,"name":"gene_result","isVisible":false,"type":"input-step","initialDisplayValue":"","properties":{"organisms":["T.
        gondii"],"specificAttribution":[]},"group":"_hidden"},{"displayName":"Minimum
        weight","length":0,"isVisible":true,"isMultiLine":false,"type":"string","help":"Enter
        the minimum weight of the result","dependentParams":[],"isReadOnly":false,"isNumber":true,"allowEmptyValue":false,"name":"min_weight","initialDisplayValue":"0","properties":{"organisms":["T.
        gondii"],"specificAttribution":[]},"group":"empty"},{"displayName":"Maximum
        weight","length":0,"isVisible":true,"isMultiLine":false,"type":"string","help":"Enter
        the maximum weight of the result","dependentParams":[],"isReadOnly":false,"isNumber":true,"allowEmptyValue":false,"name":"max_weight","initialDisplayValue":"100","properties":{"organisms":["T.
        gondii"],"specificAttribution":[]},"group":"empty"}],"properties":{"organisms":["T.
        gondii"],"specificAttribution":[]},"summaryViewPlugins":[{"displayName":"Gene
        Results","name":"_default","description":"View transcripts."},{"displayName":"Genome
        View","name":"genomic-view","description":"View your hits mapped to their
        corresponding largest assembled genomic DNA segment, often a chromosome, but\n
        sometimes a contig or scaffold."}]},"validation":{"level":"DISPLAYABLE","isValid":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"searchName":"GenesByWeightFilter","searchConfig":{"parameters":{"min_weight":"1","max_weight":"100","gene_result":""}},"customName":"Transform:
      GenesByWeightFilter"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://toxodb.org/toxo/service/users/1214413863/steps
  response:
    body:
      string: '{"id":438849033}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://toxodb.org/toxo/service/users/1214413863/steps
    status:
      code: 200
      message: OK
- request:
    body: '{"stepTree":{"stepId":438849033,"primaryInput":{"stepId":438849023}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://toxodb.org/toxo/service/users/1214413863/strategies/330129103/step-tree
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://toxodb.org/toxo/service/users/1214413863/strategies/330129103
  response:
    body:
      string: '{"lastViewed":"2026-03-24T13:32:46.182","rootStepId":438849033,"signature":"4e339ea3479f7798","author":"PathFinder
        Test User","releaseVersion":"68","isValid":true,"description":"","leafAndTransformStepCount":2,"steps":{"438849033":{"displayName":"Filter
        by assigned Weight","description":"Filter away results that have a weight
        outside the specified range.  \n            (This transform is only useful
        if the input result sets have used weights)","displayPreferences":{},"customName":"Transform:
        GenesByWeightFilter","ownerId":1214413863,"shortDisplayName":"Weight","baseCustomName":"Transform:
        GenesByWeightFilter","expanded":false,"lastRunTime":"2026-03-24T13:32:45.558","hasCompleteStepAnalyses":false,"searchName":"GenesByWeightFilter","recordClassName":"transcript","createdTime":"2026-03-24T13:32:45.558","isFiltered":false,"strategyId":330129103,"id":438849033,"validation":{"level":"SEMANTIC","isValid":true},"searchConfig":{"wdkWeight":0,"columnFilters":{},"filters":[{"name":"matched_transcript_filter_array","disabled":false,"value":{"values":["Y"]}}],"parameters":{"max_weight":"100","min_weight":"1","gene_result":"438849023"}}},"438849023":{"displayName":"Organism","description":"Find
        all genes from one or more species/organism.","displayPreferences":{},"customName":"Base
        step for refine test","ownerId":1214413863,"shortDisplayName":"Organism","baseCustomName":"Base
        step for refine test","expanded":false,"lastRunTime":"2026-03-24T13:32:44.557","hasCompleteStepAnalyses":false,"estimatedSize":6135,"searchName":"GenesByTaxon","recordClassName":"transcript","createdTime":"2026-03-24T13:32:44.557","isFiltered":false,"strategyId":330129103,"id":438849023,"validation":{"level":"SEMANTIC","isValid":true},"searchConfig":{"wdkWeight":0,"columnFilters":{},"filters":[{"name":"matched_transcript_filter_array","disabled":false,"value":{"values":["Y"]}}],"parameters":{"organism":"[\"Cyclospora
        cayetanensis isolate NF1_C8\"]"}}}},"stepTree":{"primaryInput":{"stepId":438849023},"stepId":438849033},"isDeleted":false,"estimatedSize":-1,"isSaved":false,"isExample":false,"organization":"University
        of Pennsylvania","name":"test-refine-base","recordClassName":"transcript","createdTime":"2026-03-24T13:32:44","isPublic":false,"strategyId":330129103,"lastModified":"2026-03-24T13:32:45.877","nameOfFirstStep":"Organism"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"reportConfig":{"pagination":{"offset":0,"numRecords":0}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://toxodb.org/toxo/service/users/1214413863/steps/438849033/reports/standard
  response:
    body:
      string: Internal Error
    headers:
      Content-Type:
      - text/plain
      x-log-marker:
      - b3506290-04cf-479a-a704-beea2006ab28
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"reportConfig":{"pagination":{"offset":0,"numRecords":0}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://toxodb.org/toxo/service/users/1214413863/steps/438849033/reports/standard
  response:
    body:
      string: Internal Error
    headers:
      Content-Type:
      - text/plain
      x-log-marker:
      - c054f341-d674-42aa-a45c-729325acb1d9
    status:
      code: 500
      message: Internal Server Error
version: 1
