interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://trichdb.org/trichdb/app
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n        <title>TrichDB</title>\n
        \   <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\"/>\n    <link href=\"/trichdb/images/TrichDB/favicon.ico\"
        type=\"image/x-icon\" rel=\"shortcut icon\"/>\n    <script>\n            window.__asset_path_remove_me_please__
        = \"/trichdb/bundles/\";\n\n            window.__SITE_CONFIG__ = {\n                requireLogin:
        \"true\" === \"true\",\n        rootElement: \"#wdk-container\",\n        rootUrl:
        \"/trichdb/app\",\n        endpoint: \"/trichdb/service\",\n        projectId:
        \"TrichDB\",\n        webAppUrl: \"/trichdb\",\n        facebookUrl: \"https://facebook.com/pages/EuPathDB/133123003429972\",\n
        \       twitterUrl:[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://trichdb.org/trichdb/service/record-types/transcript/searches/GenesByTaxon?expandParams=true
  response:
    body:
      string: '{"searchData":{"summary":"Find all genes from one or more species/organism.","urlSegment":"GenesByTaxon","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["T.
        vaginalis"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"organism","direction":"ASC"},{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"Organism","fullName":"GeneQuestions.GenesByTaxon","description":"Find
        all genes from one or more species/organism.","defaultAttributes":["primary_key","organism","gene_location_text","gene_product"],"groups":[{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["organism"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Organism","paramNames":["organism"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"GenesByTaxon","defaultSummaryView":"_default","parameters":[{"displayName":"Organism","minSelectedCount":1,"maxSelectedCount":-1,"isVisible":true,"type":"multi-pick-vocabulary","help":"Select
        organism(s) you wish to query against. Click the [+] to expand taxon groupings.","depthExpanded":0,"dependentParams":[],"displayType":"treeBox","isReadOnly":false,"vocabulary":{"data":{"display":"@@fake@@","term":"@@fake@@"},"children":[{"data":{"display":"Trichomonadida","term":"Trichomonadida"},"children":[{"data":{"display":"Trichomonas
        vaginalis G3","term":"Trichomonas vaginalis G3"},"children":[]},{"data":{"display":"Trichomonas
        vaginalis G3 2022","term":"Trichomonas vaginalis G3 2022"},"children":[]}]},{"data":{"display":"Tritrichomonadida","term":"Tritrichomonadida"},"children":[{"data":{"display":"Dientamoebidae","term":"Dientamoebidae"},"children":[{"data":{"display":"Histomonas
        meleagridis 2922-C6/04-10x","term":"Histomonas meleagridis 2922-C6/04-10x"},"children":[]},{"data":{"display":"Histomonas
        meleagridis 2922-C6/04-290x","term":"Histomonas meleagridis 2922-C6/04-290x"},"children":[]}]},{"data":{"display":"Tritrichomonadidae","term":"Tritrichomonadidae"},"children":[{"data":{"display":"Tritrichomonas
        foetus strain K","term":"Tritrichomonas foetus strain K"},"children":[]}]}]}]},"allowEmptyValue":false,"name":"organism","countOnlyLeaves":true,"initialDisplayValue":"[]","properties":{"organisms":["T.
        vaginalis"],"specificAttribution":[],"organismProperties":["pruneNodesWithSingleExtendingChild","showOnlyPreferredOrganisms","highlightReferenceOrganisms"]},"group":"empty"}],"properties":{"organisms":["T.
        vaginalis"],"specificAttribution":[]},"summaryViewPlugins":[{"displayName":"Gene
        Results","name":"_default","description":"View transcripts."},{"displayName":"Genome
        View","name":"genomic-view","description":"View your hits mapped to their
        corresponding largest assembled genomic DNA segment, often a chromosome, but\n
        sometimes a contig or scaffold."}]},"validation":{"level":"DISPLAYABLE","isValid":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://trichdb.org/trichdb/service/users/current
  response:
    body:
      string: '{"isGuest":false,"id":1216062453,"email":"test@test.local","properties":{"organizationType":"academic","firstName":"Test","lastName":"User","country":"US","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchName":"GenesByTaxon","searchConfig":{"parameters":{"organism":"[\"Trichomonas
      vaginalis G3\"]"}},"customName":"Base step for refine test"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://trichdb.org/trichdb/service/users/99913691069/steps
  response:
    body:
      string: '{"id":438875163}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://trichdb.org/trichdb/service/users/99913691069/steps
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"test-refine-base","isPublic":false,"isSaved":false,"stepTree":{"stepId":438875163}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://trichdb.org/trichdb/service/users/99913691069/strategies
  response:
    body:
      string: '{"id":330146093}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://trichdb.org/trichdb/service/users/99913691069/strategies
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://trichdb.org/trichdb/service/record-types/transcript/searches/GenesByWeightFilter?expandParams=true
  response:
    body:
      string: '{"searchData":{"urlSegment":"GenesByWeightFilter","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"STRING","tools":{"reports":[],"filters":[]},"properties":{"organisms":["T.
        vaginalis"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"wdk_weight","direction":"ASC"},{"attributeName":"source_id","direction":"ASC"}],"isAnalyzable":true,"displayName":"Filter
        by assigned Weight","allowedPrimaryInputRecordClassNames":["transcript"],"fullName":"InternalQuestions.GenesByWeightFilter","description":"Filter
        away results that have a weight outside the specified range.  \n            (This
        transform is only useful if the input result sets have used weights)","defaultAttributes":["primary_key","organism","gene_product","wdk_weight"],"groups":[{"displayType":"hidden","displayName":"","name":"_hidden","description":"","isVisible":false,"parameters":["gene_result"]},{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["min_weight","max_weight"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Weight","paramNames":["gene_result","min_weight","max_weight"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"ByWeightFilter","defaultSummaryView":"_default","parameters":[{"help":"Input
        Result Set","dependentParams":[],"isReadOnly":true,"displayName":"Input Result
        Set","allowEmptyValue":true,"name":"gene_result","isVisible":false,"type":"input-step","initialDisplayValue":"","properties":{"organisms":["T.
        vaginalis"],"specificAttribution":[]},"group":"_hidden"},{"displayName":"Minimum
        weight","length":0,"isVisible":true,"isMultiLine":false,"type":"string","help":"Enter
        the minimum weight of the result","dependentParams":[],"isReadOnly":false,"isNumber":true,"allowEmptyValue":false,"name":"min_weight","initialDisplayValue":"0","properties":{"organisms":["T.
        vaginalis"],"specificAttribution":[]},"group":"empty"},{"displayName":"Maximum
        weight","length":0,"isVisible":true,"isMultiLine":false,"type":"string","help":"Enter
        the maximum weight of the result","dependentParams":[],"isReadOnly":false,"isNumber":true,"allowEmptyValue":false,"name":"max_weight","initialDisplayValue":"100","properties":{"organisms":["T.
        vaginalis"],"specificAttribution":[]},"group":"empty"}],"properties":{"organisms":["T.
        vaginalis"],"specificAttribution":[]},"summaryViewPlugins":[{"displayName":"Gene
        Results","name":"_default","description":"View transcripts."},{"displayName":"Genome
        View","name":"genomic-view","description":"View your hits mapped to their
        corresponding largest assembled genomic DNA segment, often a chromosome, but\n
        sometimes a contig or scaffold."}]},"validation":{"level":"DISPLAYABLE","isValid":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"searchName":"GenesByWeightFilter","searchConfig":{"parameters":{"min_weight":"1","max_weight":"100","gene_result":""}},"customName":"Transform:
      GenesByWeightFilter"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://trichdb.org/trichdb/service/users/99913691069/steps
  response:
    body:
      string: '{"id":438875173}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://trichdb.org/trichdb/service/users/99913691069/steps
    status:
      code: 200
      message: OK
- request:
    body: '{"stepTree":{"stepId":438875173,"primaryInput":{"stepId":438875163}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://trichdb.org/trichdb/service/users/99913691069/strategies/330146093/step-tree
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://trichdb.org/trichdb/service/users/99913691069/strategies/330146093
  response:
    body:
      string: '{"lastViewed":"2026-03-25T03:31:12.855","rootStepId":438875173,"signature":"dfcf89525da20c29","author":"PathFinder
        Test User","releaseVersion":"68","isValid":true,"description":"","leafAndTransformStepCount":2,"steps":{"438875173":{"displayName":"Filter
        by assigned Weight","description":"Filter away results that have a weight
        outside the specified range.  \n            (This transform is only useful
        if the input result sets have used weights)","displayPreferences":{},"customName":"Transform:
        GenesByWeightFilter","ownerId":1216062453,"shortDisplayName":"Weight","baseCustomName":"Transform:
        GenesByWeightFilter","expanded":false,"lastRunTime":"2026-03-25T03:31:12.062","hasCompleteStepAnalyses":false,"searchName":"GenesByWeightFilter","recordClassName":"transcript","createdTime":"2026-03-25T03:31:12.062","isFiltered":false,"strategyId":330146093,"id":438875173,"validation":{"level":"SEMANTIC","isValid":true},"searchConfig":{"wdkWeight":0,"columnFilters":{},"filters":[{"name":"matched_transcript_filter_array","disabled":false,"value":{"values":["Y"]}}],"parameters":{"max_weight":"100","min_weight":"1","gene_result":"438875163"}}},"438875163":{"displayName":"Organism","description":"Find
        all genes from one or more species/organism.","displayPreferences":{},"customName":"Base
        step for refine test","ownerId":1216062453,"shortDisplayName":"Organism","baseCustomName":"Base
        step for refine test","expanded":false,"lastRunTime":"2026-03-25T03:31:11.02","hasCompleteStepAnalyses":false,"estimatedSize":98611,"searchName":"GenesByTaxon","recordClassName":"transcript","createdTime":"2026-03-25T03:31:11.02","isFiltered":false,"strategyId":330146093,"id":438875163,"validation":{"level":"SEMANTIC","isValid":true},"searchConfig":{"wdkWeight":0,"columnFilters":{},"filters":[{"name":"matched_transcript_filter_array","disabled":false,"value":{"values":["Y"]}}],"parameters":{"organism":"[\"Trichomonas
        vaginalis G3\"]"}}}},"stepTree":{"primaryInput":{"stepId":438875163},"stepId":438875173},"isDeleted":false,"estimatedSize":-1,"isSaved":false,"isExample":false,"organization":"Test
        Org","name":"test-refine-base","recordClassName":"transcript","createdTime":"2026-03-25T03:31:11","isPublic":false,"strategyId":330146093,"lastModified":"2026-03-25T03:31:12.42","nameOfFirstStep":"Organism"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"reportConfig":{"pagination":{"offset":0,"numRecords":0}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://trichdb.org/trichdb/service/users/99913691069/steps/438875173/reports/standard
  response:
    body:
      string: Internal Error
    headers:
      Content-Type:
      - text/plain
      x-log-marker:
      - 9234ee6b-2998-401d-94c7-04b368f7ee08
    status:
      code: 500
      message: Internal Server Error
[...]
- request:
    body: '{"reportConfig":{"pagination":{"offset":0,"numRecords":0}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://trichdb.org/trichdb/service/users/99913691069/steps/438875173/reports/standard
  response:
    body:
      string: Internal Error
    headers:
      Content-Type:
      - text/plain
      x-log-marker:
      - bcfb1b28-46f6-4063-b5b3-c67487a2ce42
    status:
      code: 500
      message: Internal Server Error
version: 1
