interactions:
- request:
    body: '{"searchText":"Pfs25","pagination":{"offset":0,"numRecords":50},"restrictToProject":"PlasmoDB","documentTypeFilter":{"documentType":"gene"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/site-search
  response:
    body:
      string: "{\n  \"documentTypes\": [\n    {\n      \"displayName\": \"News\",\n
        \     \"displayNamePlural\": \"News\",\n      \"count\": 0,\n      \"searchFields\":
        [{\n        \"isSubtitle\": false,\n        \"displayName\": \"Content\",\n
        \       \"name\": \"TEXT__news_content\",\n        \"term\": \"content\"\n
        \     }],\n      \"id\": \"news\",\n      \"hasOrganismField\": false,\n      \"summaryFields\":
        [],\n      \"isWdkRecordType\": false\n    },\n    {\n      \"displayName\":
        \"Popset isolate sequence\",\n      \"displayNamePlural\": \"Popset isolate
        sequences\",\n      \"count\": 0,\n      \"wdkSearchName\": \"PopsetIsolatesByText\",\n
        \     \"searchFields\": [\n        {\n          \"isSubtitle\": false,\n          \"displayName\":
        \"Curated geographic location\",\n          \"name\": \"TEXT__popsetSequence_curated_geographic_location\",\n
        \         \"term\": \"curated_geographic_location\"\n        },\n        {\n
        \         \"isSubtitle\": false,\n          \"displayName\": \"Curated isolation
        source\",\n          \"name\": \"TEXT__popsetSequence_curated_is[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/users/current
  response:
    body:
      string: '{"isGuest":true,"id":1216005093,"email":"guest1216005093","properties":{"organizationType":"","firstName":"","lastName":"","country":"","groupName":"","groupType":"","subscriptionToken":"","organization":"","middleName":"","position":"","interests":"","username":""}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"sourceType":"idList","sourceContent":{"ids":["PF3D7_1031000"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/1216005093/datasets
  response:
    body:
      string: '{"id":223293103}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchConfig":{"parameters":{"ds_gene_ids":"223293103"}},"reportConfig":{"attributes":["primary_key","gene_source_id","gene_name","gene_product","gene_type","organism","gene_location_text","gene_previous_ids"],"tables":[]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/record-types/transcript/searches/GeneByLocusTag/reports/standard
  response:
    body:
      string: '{"records":[{"tables":{},"displayName":"PF3D7_1031000","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"gene_name":"P25","gene_location_text":"Pf3D7_10_v3:1,253,373..1,254,412(-)","gene_previous_ids":"Previous
        IDs: PF10_0303","gene_type":"protein coding gene","organism":"<i>Plasmodium
        falciparum 3D7<\/i>","gene_source_id":"PF3D7_1031000","gene_product":"ookinete
        surface protein P25","primary_key":"PF3D7_1031000"},"id":[{"name":"gene_source_id","value":"PF3D7_1031000"},{"name":"source_id","value":"PF3D7_1031000.1"},{"name":"project_id","value":"PlasmoDB"}],"tableErrors":[]}],"meta":{"displayViewTotalCount":1,"tables":[],"pagination":{"offset":0,"numRecords":-1},"cachePreviouslyExisted":true,"viewTotalCount":1,"sorting":[],"recordClassName":"transcript","responseCount":1,"attributes":["primary_key","gene_source_id","gene_name","gene_product","gene_type","organism","gene_location_text","gene_previous_ids"],"totalCount":1,"displayTotalCount":1}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
