interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/app
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n        <title>PlasmoDB</title>\n
        \   <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\"/>\n    <link href=\"/plasmo/images/PlasmoDB/favicon.ico\"
        type=\"image/x-icon\" rel=\"shortcut icon\"/>\n    <script>\n            window.__asset_path_remove_me_please__
        = \"/plasmo/bundles/\";\n\n            window.__SITE_CONFIG__ = {\n                requireLogin:
        \"true\" === \"true\",\n        rootElement: \"#wdk-container\",\n        rootUrl:
        \"/plasmo/app\",\n        endpoint: \"/plasmo/service\",\n        projectId:
        \"PlasmoDB\",\n        webAppUrl: \"/plasmo\",\n        facebookUrl: \"https://facebook.com/pages/EuPathDB/133123003429972\",\n
        \       twitterUrl: \"[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/record-types/transcript/searches/GenesByTaxon?expandParams=true
  response:
    body:
      string: '{"searchData":{"summary":"Find all genes from one or more species/organism.","urlSegment":"GenesByTaxon","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["P.
        falciparum","P. vivax","P. yoelii","P. berghei","P. chabaudi","P. knowlesi"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"organism","direction":"ASC"},{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"Organism","fullName":"GeneQuestions.GenesByTaxon","description":"Find
        all genes from one or more species/organism.","defaultAttributes":["primary_key","organism","gene_location_text","gene_product"],"groups":[{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["organism"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Organism","paramNames":["organism"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"GenesByTaxon","defaultSummaryView":"_default","parameters":[{"displayName":"Organism","minSelectedCount":1,"maxSelectedCount":-1,"isVisible":true,"type":"multi-pick-vocabulary","help":"Select
        organism(s) you wish to query against. Click the [+] to expand taxon groupings.","depthExpanded":0,"dependentParams":[],"displayType":"treeBox","isReadOnly":false,"vocabulary":{"data":{"display":"@@fake@@","term":"@@fake@@"},"children":[{"data":{"display":"Haemoproteidae","term":"Haemoproteidae"},"children":[{"data":{"display":"Haemoproteus
        tartakovskyi strain SISKIN1","term":"Haemoproteus tartakovskyi strain SISKIN1"},"children":[]}]},{"data":{"display":"Plasmodiidae","term":"Plasmodiidae"},"children":[{"data":{"display":"Hepatocystis","term":"Hepatocystis"},"children":[{"data":{"display":"Hepatocystis
        sp. ex Piliocolobus tephrosceles 2019","term":"Hepatocystis sp. ex Piliocolobus
        tephrosceles 2019"},"[...]
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/users/current
  response:
    body:
      string: '{"isGuest":false,"id":1216062453,"email":"test@test.local","properties":{"organizationType":"academic","firstName":"Test","lastName":"User","country":"US","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchName":"GenesByTaxon","searchConfig":{"parameters":{"organism":"[\"Haemoproteus
      tartakovskyi strain SISKIN1\"]"}},"customName":"Strategy Root"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/99913691069/steps
  response:
    body:
      string: '{"id":438868953}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://plasmodb.org/plasmo/service/users/99913691069/steps
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"Test Strategy","isPublic":false,"isSaved":false,"stepTree":{"stepId":438868953}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/99913691069/strategies
  response:
    body:
      string: '{"id":330143253}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://plasmodb.org/plasmo/service/users/99913691069/strategies
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://plasmodb.org/plasmo/service/users/99913691069/strategies/330143253
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
