interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://toxodb.org/toxo/app
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n        <title>ToxoDB</title>\n
        \   <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\"/>\n    <link href=\"/toxo/images/ToxoDB/favicon.ico\" type=\"image/x-icon\"
        rel=\"shortcut icon\"/>\n    <script>\n            window.__asset_path_remove_me_please__
        = \"/toxo/bundles/\";\n\n            window.__SITE_CONFIG__ = {\n                requireLogin:
        \"true\" === \"true\",\n        rootElement: \"#wdk-container\",\n        rootUrl:
        \"/toxo/app\",\n        endpoint: \"/toxo/service\",\n        projectId: \"ToxoDB\",\n
        \       webAppUrl: \"/toxo\",\n        facebookUrl: \"https://facebook.com/pages/EuPathDB/133123003429972\",\n
        \       twitterUrl: \"https://t[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://toxodb.org/toxo/service/record-types/transcript/searches/GenesByTaxon?expandParams=true
  response:
    body:
      string: '{"searchData":{"summary":"Find all genes from one or more species/organism.","urlSegment":"GenesByTaxon","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["T.
        gondii"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"organism","direction":"ASC"},{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"Organism","fullName":"GeneQuestions.GenesByTaxon","description":"Find
        all genes from one or more species/organism.","defaultAttributes":["primary_key","organism","gene_location_text","gene_product"],"groups":[{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["organism"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Organism","paramNames":["organism"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"GenesByTaxon","defaultSummaryView":"_default","parameters":[{"displayName":"Organism","minSelectedCount":1,"maxSelectedCount":-1,"isVisible":true,"type":"multi-pick-vocabulary","help":"Select
        organism(s) you wish to query against. Click the [+] to expand taxon groupings.","depthExpanded":0,"dependentParams":[],"displayType":"treeBox","isReadOnly":false,"vocabulary":{"data":{"display":"@@fake@@","term":"@@fake@@"},"children":[{"data":{"display":"Eimeriidae","term":"Eimeriidae"},"children":[{"data":{"display":"Cyclospora","term":"Cyclospora"},"children":[{"data":{"display":"Cyclospora
        cayetanensis isolate NF1_C8","term":"Cyclospora cayetanensis isolate NF1_C8"},"children":[]},{"data":{"display":"Cyclospora
        cayetanensis strain CHN_HEN01","term":"Cyclospora cayetanensis strain CHN_HEN01"},"children":[]}]},{"data":{"display":"Eimeria","term":"Eimeria"},"children":[{"data":{"display":"Eimeria
        acer[...]
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://toxodb.org/toxo/service/users/current
  response:
    body:
      string: '{"isGuest":false,"id":1216062453,"email":"test@test.local","properties":{"organizationType":"academic","firstName":"Test","lastName":"User","country":"US","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchName":"GenesByTaxon","searchConfig":{"parameters":{"organism":"[\"Cyclospora
      cayetanensis isolate NF1_C8\"]"}},"customName":"Eval test step"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://toxodb.org/toxo/service/users/99913691069/steps
  response:
    body:
      string: '{"id":438869063}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://toxodb.org/toxo/service/users/99913691069/steps
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"test-eval-base","isPublic":false,"isSaved":false,"stepTree":{"stepId":438869063}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://toxodb.org/toxo/service/users/99913691069/strategies
  response:
    body:
      string: '{"id":330143363}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://toxodb.org/toxo/service/users/99913691069/strategies
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://toxodb.org/toxo/service/users/99913691069/strategies/330143363
  response:
    body:
      string: '{"lastViewed":"2026-03-25T01:35:49.693","rootStepId":438869063,"signature":"a9c829ac31eaeb14","author":"PathFinder
        Test User","releaseVersion":"68","isValid":true,"description":"","leafAndTransformStepCount":1,"steps":{"438869063":{"displayName":"Organism","description":"Find
        all genes from one or more species/organism.","displayPreferences":{},"customName":"Eval
        test step","ownerId":1216062453,"shortDisplayName":"Organism","baseCustomName":"Eval
        test step","expanded":false,"lastRunTime":"2026-03-25T01:35:49.146","hasCompleteStepAnalyses":false,"estimatedSize":6135,"searchName":"GenesByTaxon","recordClassName":"transcript","createdTime":"2026-03-25T01:35:49.146","isFiltered":false,"strategyId":330143363,"id":438869063,"validation":{"level":"SEMANTIC","isValid":true},"searchConfig":{"wdkWeight":0,"columnFilters":{},"filters":[{"name":"matched_transcript_filter_array","disabled":false,"value":{"values":["Y"]}}],"parameters":{"organism":"[\"Cyclospora
        cayetanensis isolate NF1_C8\"]"}}}},"stepTree":{"stepId":438869063},"isDeleted":false,"estimatedSize":-1,"isSaved":false,"isExample":false,"organization":"Test
        Org","name":"test-eval-base","recordClassName":"transcript","createdTime":"2026-03-25T01:35:49","isPublic":false,"strategyId":330143363,"lastModified":"2026-03-25T01:35:49","nameOfFirstStep":"Organism"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"reportConfig":{"attributes":["primary_key"],"pagination":{"offset":0,"numRecords":1000}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://toxodb.org/toxo/service/users/99913691069/steps/438869063/reports/standard
  response:
    body:
      string: '{"records":[{"tables":{},"displayName":"LOC113146427","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"primary_key":"LOC113146427"},"id":[{"name":"gene_source_id","value":"LOC113146427"},{"name":"source_id","value":"LOC113146427-t45_1"},{"name":"project_id","value":"ToxoDB"}],"tableErrors":[]},{"tables":{},"displayName":"LOC113146428","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"primary_key":"LOC113146428"},"id":[{"name":"gene_source_id","value":"LOC113146428"},{"name":"source_id","value":"LOC113146428-t45_1"},{"name":"project_id","value":"ToxoDB"}],"tableErrors":[]},{"tables":{},"displayName":"LOC113146429","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"primary_key":"LOC113146429"},"id":[{"name":"gene_source_id[...]
[...]
