interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://microsporidiadb.org/micro/app
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n        <title>MicrosporidiaDB</title>\n
        \   <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\"/>\n    <link href=\"/micro/images/MicrosporidiaDB/favicon.ico\"
        type=\"image/x-icon\" rel=\"shortcut icon\"/>\n    <script>\n            window.__asset_path_remove_me_please__
        = \"/micro/bundles/\";\n\n            window.__SITE_CONFIG__ = {\n                requireLogin:
        \"true\" === \"true\",\n        rootElement: \"#wdk-container\",\n        rootUrl:
        \"/micro/app\",\n        endpoint: \"/micro/service\",\n        projectId:
        \"MicrosporidiaDB\",\n        webAppUrl: \"/micro\",\n        facebookUrl:
        \"https://facebook.com/pages/EuPathDB/133123003429972\",\n        twitterUrl:
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://microsporidiadb.org/micro/service/users/current
  response:
    body:
      string: '{"isGuest":false,"id":1216062453,"email":"test@test.local","properties":{"organizationType":"academic","firstName":"Test","lastName":"User","country":"US","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://microsporidiadb.org/micro/service/record-types/transcript/searches/GenesByTaxon?expandParams=true
  response:
    body:
      string: '{"searchData":{"summary":"Find all genes from one or more species/organism.","urlSegment":"GenesByTaxon","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["Encephalitozoon
        intestinalis","Encephalitozoon cuniculi GB-M1","Enterocytozoon bieneusi H348"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"organism","direction":"ASC"},{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"Organism","fullName":"GeneQuestions.GenesByTaxon","description":"Find
        all genes from one or more species/organism.","defaultAttributes":["primary_key","organism","gene_location_text","gene_product"],"groups":[{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["organism"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Organism","paramNames":["organism"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"GenesByTaxon","defaultSummaryView":"_default","parameters":[{"displayName":"Organism","minSelectedCount":1,"maxSelectedCount":-1,"isVisible":true,"type":"multi-pick-vocabulary","help":"Select
        organism(s) you wish to query against. Click the [+] to expand taxon groupings.","depthExpanded":0,"dependentParams":[],"displayType":"treeBox","isReadOnly":false,"vocabulary":{"data":{"display":"@@fake@@","term":"@@fake@@"},"children":[{"data":{"display":"Amphiacanthidae","term":"Amphiacanthidae"},"children":[{"data":{"display":"Amphiamblys
        sp. WSBS2006","term":"Amphiamblys sp. WSBS2006"},"children":[]}]},{"data":{"display":"Cucumispora","term":"Cucumispora"},"children":[{"data":{"display":"Cucumispora
        dikerogammari Dv6","term":"Cucumispora dikerogammari Dv6"},"children":[]}]},{"data":{"display":"Culicosporidae","term":"Culicosporidae"},"children":[{"data":{"display":"Edhazardia
        aedis USNM 41457","term[...]
[...]
- request:
    body: '{"searchName":"GenesByTaxon","searchConfig":{"parameters":{"organism":"[\"Amphiamblys
      sp. WSBS2006\"]"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://microsporidiadb.org/micro/service/users/99913691069/steps
  response:
    body:
      string: '{"id":438869033}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://microsporidiadb.org/micro/service/users/99913691069/steps
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"vcr-test","isPublic":false,"isSaved":false,"stepTree":{"stepId":438869033}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://microsporidiadb.org/micro/service/users/99913691069/strategies
  response:
    body:
      string: '{"id":330143333}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://microsporidiadb.org/micro/service/users/99913691069/strategies
    status:
      code: 200
      message: OK
- request:
    body: '{"stepId":438869033,"reportName":"standard","reportConfig":{"type":"standard","includeHeader":true,"attachmentType":"text","attributes":["gene_name","product"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://microsporidiadb.org/micro/service/temporary-results
  response:
    body:
      string: '{"id":"f609b9ae-255f-40bb-93ce-b507a6787c54"}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://microsporidiadb.org/micro/service/temporary-results
    status:
      code: 200
      message: OK
version: 1
