interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/users/current
  response:
    body:
      string: '{"isGuest":true,"id":1216456573,"email":"test@test.local","properties":{"organizationType":"","firstName":"Test","lastName":"User","country":"","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"sourceType":"idList","sourceContent":{"ids":["PF3D7_1222600"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/99988858293/datasets
  response:
    body:
      string: '{"id":223302613}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
