interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cryptodb.org/cryptodb/service/users/current
  response:
    body:
      string: '{"isGuest":true,"id":1216456993,"email":"test@test.local","properties":{"organizationType":"","firstName":"Test","lastName":"User","country":"","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"sourceType":"idList","sourceContent":{"ids":["cgd1_10","cgd1_100","cgd1_1000","cgd1_1010","cgd1_1023","cgd1_1040","cgd1_1050","cgd1_1060","cgd1_1063","cgd1_1070","cgd1_1080","cgd1_1090","cgd1_110","cgd1_1100","cgd1_1110","cgd1_1120","cgd1_1130","cgd1_1140","cgd1_1150","cgd1_1160","cgd1_1170","cgd1_1180","cgd1_120","cgd1_1200","cgd1_1210","cgd1_1220","cgd1_1230","cgd1_1240","cgd1_1250","cgd1_1260","Cgd2_140","Cgd2_1810","Cgd2_2990","Cgd3_2720","Cgd3_4320","Cgd5_1900","Cgd5_2965","Cgd5_40","Cgd5_540","Cgd6_2540","Cgd6_280","Cgd6_4720","Cgd6_4723","Cgd7_2213","Cgd7_260","Cgd7_5103","Cgd7_760","Cgd8_1200","Cgd8_1390","cgd1_1190"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cryptodb.org/cryptodb/service/users/999109579089/datasets
  response:
    body:
      string: '{"id":223302703}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
