interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cryptodb.org/cryptodb/app
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n        <title>CryptoDB</title>\n
        \   <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\"/>\n    <link href=\"/cryptodb/images/CryptoDB/favicon.ico\"
        type=\"image/x-icon\" rel=\"shortcut icon\"/>\n    <script>\n            window.__asset_path_remove_me_please__
        = \"/cryptodb/bundles/\";\n\n            window.__SITE_CONFIG__ = {\n                requireLogin:
        \"true\" === \"true\",\n        rootElement: \"#wdk-container\",\n        rootUrl:
        \"/cryptodb/app\",\n        endpoint: \"/cryptodb/service\",\n        projectId:
        \"CryptoDB\",\n        webAppUrl: \"/cryptodb\",\n        facebookUrl: \"https://facebook.com/pages/EuPathDB/133123003429972\",\n
        \       twitte[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cryptodb.org/cryptodb/service/record-types/transcript/searches/GenesByTaxon?expandParams=true
  response:
    body:
      string: '{"searchData":{"summary":"Find all genes from one or more species/organism.","urlSegment":"GenesByTaxon","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["C.
        hominus","C. muris","C. parvum"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"organism","direction":"ASC"},{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"Organism","fullName":"GeneQuestions.GenesByTaxon","description":"Find
        all genes from one or more species/organism.","defaultAttributes":["primary_key","organism","gene_location_text","gene_product"],"groups":[{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["organism"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Organism","paramNames":["organism"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"GenesByTaxon","defaultSummaryView":"_default","parameters":[{"displayName":"Organism","minSelectedCount":1,"maxSelectedCount":-1,"isVisible":true,"type":"multi-pick-vocabulary","help":"Select
        organism(s) you wish to query against. Click the [+] to expand taxon groupings.","depthExpanded":0,"dependentParams":[],"displayType":"treeBox","isReadOnly":false,"vocabulary":{"data":{"display":"@@fake@@","term":"@@fake@@"},"children":[{"data":{"display":"Apicomplexa","term":"Apicomplexa"},"children":[{"data":{"display":"Coccidia","term":"Coccidia"},"children":[{"data":{"display":"Cryptosporidium
        andersoni","term":"Cryptosporidium andersoni"},"children":[{"data":{"display":"Cryptosporidium
        andersoni isolate 30847","term":"Cryptosporidium andersoni isolate 30847"},"children":[]}]},{"data":{"display":"Cryptosporidium
        bovis","term":"Cryptosporidium bovis"},"children":[{"data":{"display":"Cryptosporidium
 [...]
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cryptodb.org/cryptodb/service/users/current
  response:
    body:
      string: '{"isGuest":false,"id":1216062453,"email":"test@test.local","properties":{"organizationType":"academic","firstName":"Test","lastName":"User","country":"US","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchName":"GenesByTaxon","searchConfig":{"parameters":{"organism":"[\"Cryptosporidium
      andersoni isolate 30847\"]"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cryptodb.org/cryptodb/service/users/99913691069/steps
  response:
    body:
      string: '{"id":438868813}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cryptodb.org/cryptodb/service/users/99913691069/steps
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"vcr-test","isPublic":false,"isSaved":false,"stepTree":{"stepId":438868813}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://cryptodb.org/cryptodb/service/users/99913691069/strategies
  response:
    body:
      string: '{"id":330143153}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://cryptodb.org/cryptodb/service/users/99913691069/strategies
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://cryptodb.org/cryptodb/service/record-types/transcript?format=expanded
  response:
    body:
      string: "{\"nativeDisplayName\":\"Transcript\",\"searches\":[{\"urlSegment\":\"AllGenes\",\"dynamicAttributes\":[{\"help\":\"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \\\"Use Weights\\\"
        on the search page, and provide the desired weight.\",\"isInReport\":true,\"formats\":[{\"isInReport\":true,\"displayName\":\"Histogram\",\"name\":\"wdk_w[...]
