interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://amoebadb.org/amoeba/app
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n        <title>AmoebaDB</title>\n
        \   <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\"/>\n    <link href=\"/amoeba/images/AmoebaDB/favicon.ico\"
        type=\"image/x-icon\" rel=\"shortcut icon\"/>\n    <script>\n            window.__asset_path_remove_me_please__
        = \"/amoeba/bundles/\";\n\n            window.__SITE_CONFIG__ = {\n                requireLogin:
        \"true\" === \"true\",\n        rootElement: \"#wdk-container\",\n        rootUrl:
        \"/amoeba/app\",\n        endpoint: \"/amoeba/service\",\n        projectId:
        \"AmoebaDB\",\n        webAppUrl: \"/amoeba\",\n        facebookUrl: \"https://facebook.com/pages/EuPathDB/133123003429972\",\n
        \       twitterUrl: \"[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://amoebadb.org/amoeba/service/record-types/transcript/searches/GenesByTaxon?expandParams=true
  response:
    body:
      string: '{"searchData":{"summary":"Find all genes from one or more species/organism.","urlSegment":"GenesByTaxon","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["Entamoeba
        histolytica HM-1:IMSS","Entamoeba dispar SAW760","Entamoeba invadens IP1"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"organism","direction":"ASC"},{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"Organism","fullName":"GeneQuestions.GenesByTaxon","description":"Find
        all genes from one or more species/organism.","defaultAttributes":["primary_key","organism","gene_location_text","gene_product"],"groups":[{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["organism"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Organism","paramNames":["organism"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"GenesByTaxon","defaultSummaryView":"_default","parameters":[{"displayName":"Organism","minSelectedCount":1,"maxSelectedCount":-1,"isVisible":true,"type":"multi-pick-vocabulary","help":"Select
        organism(s) you wish to query against. Click the [+] to expand taxon groupings.","depthExpanded":0,"dependentParams":[],"displayType":"treeBox","isReadOnly":false,"vocabulary":{"data":{"display":"@@fake@@","term":"@@fake@@"},"children":[{"data":{"display":"Amoebozoa","term":"Amoebozoa"},"children":[{"data":{"display":"Discosea","term":"Discosea"},"children":[{"data":{"display":"Acanthamoeba
        castellanii str. Neff","term":"Acanthamoeba castellanii str. Neff"},"children":[]}]},{"data":{"display":"Evosea","term":"Evosea"},"children":[{"data":{"display":"Eumycetozoa","term":"Eumycetozoa"},"children":[{"data":{"display":"Dictyostelium
        discoideum","term":"Dictyostelium discoideum"},"children":[{"data":{"display":"Dict[...]
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://amoebadb.org/amoeba/service/users/current
  response:
    body:
      string: '{"isGuest":false,"id":1216062453,"email":"test@test.local","properties":{"organizationType":"academic","firstName":"Test","lastName":"User","country":"US","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchName":"GenesByTaxon","searchConfig":{"parameters":{"organism":"[\"Acanthamoeba
      castellanii str. Neff\"]"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://amoebadb.org/amoeba/service/users/99913691069/steps
  response:
    body:
      string: '{"id":438868693}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://amoebadb.org/amoeba/service/users/99913691069/steps
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"vcr-test","isPublic":false,"isSaved":false,"stepTree":{"stepId":438868693}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://amoebadb.org/amoeba/service/users/99913691069/strategies
  response:
    body:
      string: '{"id":330143073}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://amoebadb.org/amoeba/service/users/99913691069/strategies
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://amoebadb.org/amoeba/service/users/99913691069/steps/438868693
  response:
    body:
      string: '{"displayName":"Organism","description":"Find all genes from one or
        more species/organism.","displayPreferences":{},"customName":"GenesByTaxon","ownerId":1216062453,"shortDisplayName":"Organism","baseCustomName":"GenesByTaxon","expanded":false,"lastRunTime":"2026-03-25T01:34:11.467","hasCompleteStepAnalyses":false,"searchName":"GenesByTaxon","recordClassName":"transcript","createdTime":"2026-03-25T01:34:11.467","isFiltered":false,"strategyId":330143073,"id":438868693,"validation":{"level":"RUNNABLE","isValid":true},"searchConfig":{"wdkWeight":0,"columnFilters":{},"filters":[{"name":"matched_transcript_filter_array","disabled":false,"value":{"values":["Y"]}}],"parameters":{"organism":"[\"Acanthamoeba
        castellanii str. Neff\"]"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"parameters":{"organism":"[\"Acanthamoeba castellanii str. Neff\"]"},"filters":[{"name":"matched_transcript_filter_array","value":{"values":["Y"]},"disabled":false}],"wdkWeight":0}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://amoebadb.org/amoeba/service/users/99913691069/steps/438868693/search-config
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://amoebadb.org/amoeba/service/users/99913691069/steps/438868693
  response:
    body:
      string: '{"displayName":"Organism","description":"Find all genes from one or
        more species/organism.","displayPreferences":{},"customName":"GenesByTaxon","ownerId":1216062453,"shortDisplayName":"Organism","baseCustomName":"GenesByTaxon","expanded":false,"lastRunTime":"2026-03-25T01:34:11.467","hasCompleteStepAnalyses":false,"searchName":"GenesByTaxon","recordClassName":"transcript","createdTime":"2026-03-25T01:34:11.467","isFiltered":false,"strategyId":330143073,"id":438868693,"validation":{"level":"RUNNABLE","isValid":true},"searchConfig":{"wdkWeight":0,"columnFilters":{},"filters":[{"name":"matched_transcript_filter_array","disabled":false,"value":{"values":["Y"]}}],"parameters":{"organism":"[\"Acanthamoeba
        castellanii str. Neff\"]"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
