interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://microsporidiadb.org/micro/service/record-types?format=expanded
  response:
    body:
      string: '[{"nativeDisplayName":"Transcript","searches":[{"urlSegment":"AllGenes","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["Encephalitozoon
        intestinalis","Encephalitozoon cuniculi GB-M1","Enterocytozoon bieneusi H348"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"All
        Genes","fullName":"GeneQuestions.AllGenes","defaultAttributes":["primary_key","gene_location_text","gene_product"],"groups":[],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"All
        Genes","paramNames":[],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"AllGenes","defaultSummaryView":"_default","properties":{"organisms":["Encephalitozoon
        intestinalis","Encephalitozoon cuniculi GB-M1","Enterocytozoon bieneusi H348"],"specificAttribution":[]},"summaryViewPlugins":[{"displayName":"Gene
        Results","name":"_default","description":"View transcripts."},{"displayName":"Genome
        View","name":"genomic-view","description":"View your hits mapped to their
        corresponding largest assembled genomic DNA segment, often a chromosome, but\n
        sometimes a contig or scaffold."}]},{"urlSegment":"TranscriptsFromGenes","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"STRING","tools":{"reports":[],"filters":[]},"properties":{"organisms":["Encephalitozoon
        intestinalis","Encephalitozoon cuniculi GB-M1","Enterocytozoon bieneusi H348"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"Transform
        Transcripts to Genes","allowedPrimaryInputRecordClassNames":["gene"],"fullName":"GeneQuestions.TranscriptsFromGenes","description":"Find
        transcripts from a result set of genes","defaultAttributes":["primary_key","gene_location_text","gene_product"],"groups":[{"displayType":"hidden","displayName":"","name":"_hidden","description":"","isVisible":false,"parameters":["transcript_result"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"FromTrans","paramNames":["transcript_result"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"TranscriptsFromGenes","defaultSummaryView":"_default","properties":{"organisms":["Encephalitozoon
        intestinali[...]
