interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://microsporidiadb.org/micro/app
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n        <title>MicrosporidiaDB</title>\n
        \   <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\"/>\n    <link href=\"/micro/images/MicrosporidiaDB/favicon.ico\"
        type=\"image/x-icon\" rel=\"shortcut icon\"/>\n    <script>\n            window.__asset_path_remove_me_please__
        = \"/micro/bundles/\";\n\n            window.__SITE_CONFIG__ = {\n                requireLogin:
        \"true\" === \"true\",\n        rootElement: \"#wdk-container\",\n        rootUrl:
        \"/micro/app\",\n        endpoint: \"/micro/service\",\n        projectId:
        \"MicrosporidiaDB\",\n        webAppUrl: \"/micro\",\n        facebookUrl:
        \"https://facebook.com/pages/EuPathDB/133123003429972\",\n        twitterUrl:
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://microsporidiadb.org/micro/service/record-types
  response:
    body:
      string: '["transcript","gene","organism","popsetSequence","sample","genomic-sequence","genomic-segment","snp","est","pathway","compound","blast-est-ontology","blast-orf-ontology","file","build","junction","long_read_transcript","dfile","metrics","dataset-release-notes","legacy-dataset","dataset"]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
