interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://hostdb.org/hostdb/app
  response:
    body:
      string: "<!doctype html>\n<html lang=\"en\">\n  <head>\n        <title>HostDB</title>\n
        \   <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\"/>\n    <link href=\"/hostdb/images/HostDB/favicon.ico\"
        type=\"image/x-icon\" rel=\"shortcut icon\"/>\n    <script>\n            window.__asset_path_remove_me_please__
        = \"/hostdb/bundles/\";\n\n            window.__SITE_CONFIG__ = {\n                requireLogin:
        \"true\" === \"true\",\n        rootElement: \"#wdk-container\",\n        rootUrl:
        \"/hostdb/app\",\n        endpoint: \"/hostdb/service\",\n        projectId:
        \"HostDB\",\n        webAppUrl: \"/hostdb\",\n        facebookUrl: \"https://facebook.com/pages/EuPathDB/133123003429972\",\n
        \       twitterUrl: \"ht[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://hostdb.org/hostdb/service/record-types/transcript/searches/GenesByTaxon?expandParams=true
  response:
    body:
      string: '{"searchData":{"summary":"Find all genes from one or more species/organism.","urlSegment":"GenesByTaxon","dynamicAttributes":[{"help":"The
        *search result weight*. This is the sum of the weights you specified for individual
        searches that found this record.   The more searches that found this record
        the higher will be its weight.  To give a search a weight, click \"Use Weights\"
        on the search page, and provide the desired weight.","isInReport":true,"formats":[{"isInReport":true,"displayName":"Histogram","name":"wdk_weight-histogram","description":"Display
        a histogram of weight distribution","scopes":[],"type":"histogram"}],"truncateTo":100,"displayName":"Search
        Weight","name":"wdk_weight","isSortable":true,"isDisplayable":true,"isRemovable":true,"columnDataType":"NUMBER","tools":{"reports":[],"filters":[]},"properties":{"organisms":["Homo
        sapiens REF","Mus musculus C57BL6J"],"specificAttribution":[]}}],"defaultSorting":[{"attributeName":"organism","direction":"ASC"},{"attributeName":"gene_location_text","direction":"ASC"}],"isAnalyzable":true,"displayName":"Organism","fullName":"GeneQuestions.GenesByTaxon","description":"Find
        all genes from one or more species/organism.","defaultAttributes":["primary_key","organism","gene_location_text","gene_product"],"groups":[{"displayType":"empty","displayName":"","name":"empty","description":"","isVisible":true,"parameters":["organism"]}],"filters":[{"isViewOnly":false,"name":"organismFilter"},{"displayName":"Transcripts","isViewOnly":false,"name":"matched_transcript_filter_array"},{"isViewOnly":false,"name":"genesByPathway"}],"shortDisplayName":"Organism","paramNames":["organism"],"isCacheable":true,"outputRecordClassName":"transcript","noSummaryOnSingleRecord":false,"queryName":"GenesByTaxon","defaultSummaryView":"_default","parameters":[{"displayName":"Organism","minSelectedCount":1,"maxSelectedCount":-1,"isVisible":true,"type":"multi-pick-vocabulary","help":"Select
        organism(s) you wish to query against. Click the [+] to expand taxon groupings.","depthExpanded":0,"dependentParams":[],"displayType":"treeBox","isReadOnly":false,"vocabulary":{"data":{"display":"@@fake@@","term":"@@fake@@"},"children":[{"data":{"display":"Aves","term":"Aves"},"children":[{"data":{"display":"Gallus
        gallus isolate bGalGal1","term":"Gallus gallus isolate bGalGal1"},"children":[]}]},{"data":{"display":"Mammalia","term":"Mammalia"},"children":[{"data":{"display":"Artiodactyla","term":"Artiodactyla"},"children":[{"data":{"display":"Bos
        taurus breed Hereford","term":"Bos taurus breed Hereford"},"children":[]}]},{"data":{"display":"Carnivora","term":"Carnivora"},"children":[{"data":{"display":"Canis
 [...]
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://hostdb.org/hostdb/service/users/current
  response:
    body:
      string: '{"isGuest":false,"id":1216062453,"email":"test@test.local","properties":{"organizationType":"academic","firstName":"Test","lastName":"User","country":"US","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchName":"GenesByTaxon","searchConfig":{"parameters":{"organism":"[\"Gallus
      gallus isolate bGalGal1\"]"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hostdb.org/hostdb/service/users/99913691069/steps
  response:
    body:
      string: '{"id":438868723}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://hostdb.org/hostdb/service/users/99913691069/steps
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"vcr-test","isPublic":false,"isSaved":false,"stepTree":{"stepId":438868723}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hostdb.org/hostdb/service/users/99913691069/strategies
  response:
    body:
      string: '{"id":330143103}'
    headers:
      Content-Type:
      - application/json
      Location:
      - https://hostdb.org/hostdb/service/users/99913691069/strategies
    status:
      code: 200
      message: OK
- request:
    body: '{"reportConfig":{"pagination":{"offset":0,"numRecords":5}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hostdb.org/hostdb/service/users/99913691069/steps/438868723/reports/standard
  response:
    body:
      string: '{"records":[{"tables":{},"displayName":"LOC100857117","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{},"id":[{"name":"gene_source_id","value":"LOC100857117"},{"name":"source_id","value":"LOC100857117_t1"},{"name":"project_id","value":"HostDB"}],"tableErrors":[]},{"tables":{},"displayName":"LOC100857119","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{},"id":[{"name":"gene_source_id","value":"LOC100857119"},{"name":"source_id","value":"LOC100857119_t1"},{"name":"project_id","value":"HostDB"}],"tableErrors":[]},{"tables":{},"displayName":"LOC100857180","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{},"id":[{"name":"gene_source_id","value":"LOC100857180"},{"name":"source_id","value":"LOC100857180_t1"},{"name":"project_id","value":"HostDB"}],"tableErrors":[]},{"tables":{},"displayName":"LOC100857191","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{},"id":[{"name":"gene_source_id","value":"LOC100857191"},{"name":"source_id","value":"LOC100857191_t1"},{"name":"project_id","value":"HostDB"}],"tableErrors":[]},{"tables":{},"displayName":"LOC100857193","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{},"id":[{"name":"gene_source_id","value":"LOC100857193"},{"name":"source_id","value":"LOC100857193_t1"},{"name":"project_id","value":"HostDB"}],"tableErrors":[]}],"meta":{"displayViewTotalCount":25403,"tables":[],"pagination":{"offset":0,"numRecords":5},"cachePreviouslyExisted":true,"viewTotalCount":76463,"sorting":[],"recordClassName":"transcript","responseCount":5,"attributes":[],"totalCount":76463,"displayTotalCount":25403}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"sourceType":"idList","sourceContent":{"ids":["LOC100857117","LOC100857119","LOC100857180","LOC100857191","LOC100857193"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hostdb.org/hostdb/service/users/999190411875/datasets
  response:
    body:
      string: '{"id":223300403}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchConfig":{"parameters":{"ds_gene_ids":"223300403"}},"reportConfig":{"attributes":["primary_key","gene_source_id","gene_name","gene_product","gene_type","organism","gene_location_text","gene_previous_ids"],"tables":[]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://hostdb.org/hostdb/service/record-types/transcript/searches/GeneByLocusTag/reports/standard
  response:
    body:
      string: '{"records":[{"tables":{},"displayName":"LOC100857119","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"gene_name":null,"gene_location_text":"CM028494:1,329,463..1,333,247(+)","gene_previous_ids":null,"gene_type":"protein
        coding gene","organism":"<i>Gallus gallus isolate bGalGal1<\/i>","gene_source_id":"LOC100857119","gene_product":"protocadherin
        beta-4-like","primary_key":"LOC100857119"},"id":[{"name":"gene_source_id","value":"LOC100857119"},{"name":"source_id","value":"LOC100857119_t1"},{"name":"project_id","value":"HostDB"}],"tableErrors":[]},{"tables":{},"displayName":"LOC100857117","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"gene_name":null,"gene_location_text":"CM028482:142,714,387..142,716,194(-)","gene_previous_ids":null,"gene_type":"protein
        coding gene","organism":"<i>Gallus gallus isolate bGalGal1<\/i>","gene_[...]
