interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://vectorbase.org/vectorbase/service/users/current
  response:
    body:
      string: '{"isGuest":true,"id":1216457033,"email":"test@test.local","properties":{"organizationType":"","firstName":"Test","lastName":"User","country":"","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"sourceType":"idList","sourceContent":{"ids":["AGAP000002","AGAP000005","AGAP000007","AGAP000008","AGAP000009","AGAP000010","AGAP000011","AGAP000012","AGAP000013","AGAP000014","AGAP000015","AGAP000016","AGAP000017","AGAP000018","AGAP000019","AGAP000021","AGAP000022","AGAP000023","AGAP000025","AGAP000028","AGAP000029","AGAP000032","AGAP000033","AGAP000035","AGAP000037","AGAP000038","AGAP000039","AGAP000040","AGAP000041","AGAP000042","AGAP000043","AGAP000044","AGAP000045","AGAP000046","AGAP000047","AGAP000048","AGAP000049","AGAP000050","AGAP000051","AGAP000052","AGAP000053","AGAP000054","AGAP000055","AGAP000056","AGAP000057","AGAP000058","AGAP000059","AGAP000060","AGAP000061","AGAP000062"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vectorbase.org/vectorbase/service/users/999160002558/datasets
  response:
    body:
      string: '{"id":223302733}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
