interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/users/current
  response:
    body:
      string: '{"isGuest":true,"id":1216456563,"email":"test@test.local","properties":{"organizationType":"","firstName":"Test","lastName":"User","country":"","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"sourceType":"idList","sourceContent":{"ids":["PF3D7_1222600","PF3D7_1031000","PF3D7_0209000","PF3D7_1346700","PF3D7_1346800","PF3D7_0935400","PF3D7_0406200","PF3D7_1408200","PF3D7_1216500","PF3D7_1477700"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/999262530538/datasets
  response:
    body:
      string: '{"id":223302603}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
