interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://plasmodb.org/plasmo/service/users/current
  response:
    body:
      string: '{"isGuest":true,"id":1216456973,"email":"test@test.local","properties":{"organizationType":"","firstName":"Test","lastName":"User","country":"","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"sourceType":"idList","sourceContent":{"ids":["PF3D7_0100100","PF3D7_0100200","PF3D7_0100300","PF3D7_0100400","PF3D7_0100500","PF3D7_0100600","PF3D7_0100700","PF3D7_0100800","PF3D7_0100900","PF3D7_0101000","PF3D7_0101100","PF3D7_0101200","PF3D7_0101300","PF3D7_0101400","PF3D7_0101500","PF3D7_0101600","PF3D7_0101700","PF3D7_0101800","PF3D7_0101900","PF3D7_0102000","PF3D7_0102100","PF3D7_0102200","PF3D7_0102300","PF3D7_0102400","PF3D7_0102500","PF3D7_0102600","PF3D7_0102700","PF3D7_0102800","PF3D7_0102900","PF3D7_0103000","PF3D7_1222600","PF3D7_1031000","PF3D7_0209000","PF3D7_1346700","PF3D7_1346800","PF3D7_0935400","PF3D7_0406200","PF3D7_1408200","PF3D7_1216500","PF3D7_1477700","PF3D7_0103100","PF3D7_0103200","PF3D7_0103300","PF3D7_0103400","PF3D7_0103500","PF3D7_0103600","PF3D7_0103700","PF3D7_0103800","PF3D7_0103900","PF3D7_0104000"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://plasmodb.org/plasmo/service/users/999223702335/datasets
  response:
    body:
      string: '{"id":223302683}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
