interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://toxodb.org/toxo/service/users/current
  response:
    body:
      string: '{"isGuest":true,"id":1216456533,"email":"test@test.local","properties":{"organizationType":"","firstName":"Test","lastName":"User","country":"","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"sourceType":"idList","sourceContent":{"ids":["TGME49_200010"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://toxodb.org/toxo/service/users/999217033652/datasets
  response:
    body:
      string: '{"id":223302573}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"searchConfig":{"parameters":{"ds_gene_ids":"223302573"}},"reportConfig":{"attributes":["primary_key","gene_source_id","gene_name","gene_product","gene_type","organism","gene_location_text","gene_previous_ids"],"tables":[]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://toxodb.org/toxo/service/record-types/transcript/searches/GeneByLocusTag/reports/standard
  response:
    body:
      string: '{"records":[{"tables":{},"displayName":"TGME49_200010","recordClassName":"TranscriptRecordClasses.TranscriptRecordClass","attributes":{"gene_name":"GRA20","gene_location_text":"TGME49_chrXII:2,245,476..2,248,187(-)","gene_previous_ids":"Previous
        IDs: 1.m00014;1923.t000245;1923.t000245;1923.t000245;1923.t000245;TGME49_000010;TGME49_000010;TGME49_000010;TGME49_000010;TgGlmHMM_2587;TgTigrScan_5722;mrna.TGME49_000010A;tigr:cds.TGME49_000010A","gene_type":"protein
        coding gene","organism":"<i>Toxoplasma gondii ME49<\/i>","gene_source_id":"TGME49_200010","gene_product":"dense
        granule protein GRA20","primary_key":"TGME49_200010"},"id":[{"name":"gene_source_id","value":"TGME49_200010"},{"name":"source_id","value":"TGME49_200010.R447"},{"name":"project_id","value":"ToxoDB"}],"tableErrors":[]}],"meta":{"displayViewTotalCount":1,"tables":[],"pagination":{"offset":0,"numRecords":-1},"cachePreviouslyExisted":true,"viewTotalCount":1,"sorting":[],"recordClassName":"transcript","responseCount":1,"attributes":["primary_key","gene_source_id","gene_name","gene_product","gene_type","organism","gene_location_text","gene_previous_ids"],"totalCount":1,"displayTotalCount":1}}'
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
