interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://toxodb.org/toxo/service/users/current
  response:
    body:
      string: '{"isGuest":true,"id":1216456983,"email":"test@test.local","properties":{"organizationType":"","firstName":"Test","lastName":"User","country":"","groupName":"Test
        Group","groupType":"research","subscriptionToken":"","organization":"Test
        Org","middleName":"","position":"researcher","interests":"","username":"test-user"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"sourceType":"idList","sourceContent":{"ids":["TGME49_200010","TGME49_200110","TGME49_200130","TGME49_200230","TGME49_200240","TGME49_200250","TGME49_200260","TGME49_200270","TGME49_200280","TGME49_200290","TGME49_200310","TGME49_200320","TGME49_200330","TGME49_200340","TGME49_200350","TGME49_200360","TGME49_200370","TGME49_200385","TGME49_200400","TGME49_200410","TGME49_200430","TGME49_200440","TGME49_200450","TGME49_200460","TGME49_200470","TGME49_200480","TGME49_200590","TGME49_200595","TGME49_200600","TGME49_200700","TGME49_201100","TGME49_201110","TGME49_201120","TGME49_201130","TGME49_201140","TGME49_201150","TGME49_201160","TGME49_201170","TGME49_201180","TGME49_201200","TGME49_201210","TGME49_201220","TGME49_201230","TGME49_201240","TGME49_201250","TGME49_201260","TGME49_201270","TGME49_201280","TGME49_201290","TGME49_201300"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://toxodb.org/toxo/service/users/99961345934/datasets
  response:
    body:
      string: '{"id":223302693}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
